<div>
  <div *ngIf="docDeleted" class="savedDoc">SUCCESS: Document deleted successfully.</div>

  <form
    #myForm="ngForm"
    (submit)="Search()"
    class="formClass"
    name="SearchForm"
    id="searchFormId"
    method="get"
  >
    <input
      type="hidden"
      name="advancedSearchHidden"
      id="advancedSearchHiddenId"
      value="true"
    />

    <input
      type="hidden"
      name="currentVendorOnly"
      id="currentVendorOnlyId"
      value="true"
    />
    <div style="padding-top: 6px">
      <table cellspacing="0" cellpadding="0" border="0">
        <tbody>
          <tr>
            <td>
              <table
                class="eds-tabheader"
                cellspacing="0"
                cellpadding="0"
                border="0"
              >
                <tbody>
                  <tr>
                    <td class="eds-tabtopleftcorner"></td>
                    <td class="eds-tabtopmiddle" align="center">
                      <div class="eds-tabtitle">Search Criteria</div>
                    </td>
                    <td class="eds-tabtoprightcorner"></td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td class="eds-tabtoprightcorner"></td>
          </tr>
          <tr>
            <td>
              <table
                cellspacing="0"
                cellpadding="0"
                width="100%"
                border="0"
                class="eds-tabtitle"
              >
                <tbody>
                  <tr>
                    <td>
                      <table class="inline-table_dark_grey">
                        <tbody>
                          <tr align="left">
                            <td align="left">
                              <table>
                                <tbody>
                                  <tr
                                    class="eds-pagerstyle inline-table_dark_grey"
                                  >
                                    <td align="right">
                                      Vendor Name&nbsp; &nbsp;
                                    </td>
                                    <td align="left">
                                      <input
                                        type="text"
                                        id="vendorName"
                                        name="vendorName"
                                        type="text"
                                        tabindex="-1"
                                        [(ngModel)]="vendorName"
                                      />
                                    </td>
                                  </tr>
                                  <tr>
                                    <td
                                      align="right"
                                      style="
                                        vertical-align: middle;
                                        width: 100%;
                                      "
                                    >
                                      <div
                                        class="inline-table_dark_grey"
                                        style="
                                          vertical-align: middle;
                                          width: 85%;
                                          color: black;
                                        "
                                      >
                                        Current Vendor Only
                                      </div>
                                    </td>
                                    <td>
                                      <input
                                        type="checkbox"
                                        name="currentVendorOnly"
                                        [(ngModel)]="checkBoxValue"
                                        checked
                                        style="vertical-align: top; width: 15%"
                                      />
                                    </td>
                                  </tr>

                                  <tr
                                    class="eds-pagerstyle-alt inline-table_dark_grey"
                                  >
                                    <td align="right">
                                      Vendor Reference No.&nbsp; &nbsp;
                                    </td>
                                    <td align="left">
                                      <input
                                        type="text"
                                        name="vendorPartRefNbr"
                                        class=""
                                        value=""
                                        size="20"
                                        maxlength="40"
                                        tabindex="-1"
                                        id="vendorPartRefNbr"
                                        type="text"
                                        tabindex="-1"
                                        [(ngModel)]="vendorPartRefNbr"
                                      />
                                    </td>
                                  </tr>

                                  <tr
                                    class="eds-pagerstyle dropdown inline-table_dark_grey"
                                  >
                                    <td align="right">
                                      Detail Doc Type&nbsp; &nbsp;
                                    </td>
                                    <td align="left">
                                      <select
                                        name="detailDocType"
                                        class=""
                                        tabindex="-1"
                                        [(ngModel)]="detailDocType"
                                      >
                                        <option *ngFor="let doc of documents">
                                          {{ doc.label }}
                                        </option>
                                      </select>
                                    </td>
                                  </tr>
                                  <tr
                                  class="eds-pagerstyle dropdown inline-table_dark_grey"
                                >
                                  <td align="right">
                                    ITAR&nbsp; &nbsp;
                                  </td>
                                  <td align="left">
                                    <select
                                      name="detailDocType"
                                      class=""
                                      tabindex="-1"
                                      [(ngModel)]="detailDocType"
                                    >
                                      <option >
                                       y
                                      </option> <option >
                                        n
                                       </option>
                                    </select>
                                  </td>
                                </tr>
                                <tr
                                  class="eds-pagerstyle dropdown inline-table_dark_grey"
                                >
                                  <td align="right">
                                   ECCN NUMBER&nbsp; &nbsp;
                                  </td>
                                  <td align="left">
                                    <select
                                      name="detailDocType"
                                      class=""
                                      tabindex="-1"
                                      [(ngModel)]="detailDocType"
                                    >
                                      <option *ngFor="let doc of documents">
                                        {{ doc.label }}
                                      </option>
                                    </select>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </td>
                            <td valign="top">
                              <table>
                                <tbody>
                                  <tr
                                    class="eds-pagerstyle-alt inline-table_dark_grey"
                                  >
                                    <td align="right">ESO&nbsp; &nbsp;</td>
                                    <td align="left">
                                      <input
                                        name="eso"
                                        size="20"
                                        maxlength="40"
                                        tabindex="-1"
                                        id="eso"
                                        type="text"
                                        tabindex="-1"
                                        value=""
                                        [(ngModel)]="eso"
                                      />
                                    </td>
                                  </tr>

                                  <tr
                                    class="eds-pagerstyle inline-table_dark_grey"
                                  >
                                    <td align="right">ECO&nbsp; &nbsp;</td>
                                    <td align="left">
                                      <input
                                        type="text"
                                        name="eco"
                                        class=""
                                        value=""
                                        size="20"
                                        maxlength="40"
                                        tabindex="-1"
                                        [(ngModel)]="eco"
                                      />
                                    </td>
                                  </tr>

                                  <tr
                                    class="eds-pagerstyle-alt inline-table_dark_grey"
                                  >
                                    <td align="right">ATA&nbsp; &nbsp;</td>
                                    <td align="left">
                                      <input
                                        type="text"
                                        name="ata"
                                        class=""
                                        id="ata"
                                        value=""
                                        size="20"
                                        maxlength="40"
                                        tabindex="-1"
                                        [(ngModel)]="ata"
                                      />
                                    </td>
                                  </tr>

                                  <tr
                                    class="eds-pagerstyle inline-table_dark_grey"
                                  >
                                    <td align="right">
                                      Detail No.&nbsp; &nbsp;
                                    </td>
                                    <td align="left">
                                      <input
                                        type="text"
                                        name="detailId"
                                        class=""
                                        id="detailId"
                                        value=""
                                        size="20"
                                        maxlength="40"
                                        tabindex="-1"
                                        [(ngModel)]="detailId"
                                      />
                                    </td>
                                  </tr>
                                  <!-- <tr
                                  class="eds-pagerstyle dropdown inline-table_dark_grey"
                                >
                                  <td align="right">
                                    ITAR&nbsp; &nbsp;
                                  </td>
                                  <td align="left">
                                    <select
                                      name="detailDocType"
                                      class=""
                                      tabindex="-1"
                                      [(ngModel)]="detailDocType"
                                    >
                                      <option *ngFor="let doc of documents">
                                        {{ doc.label }}
                                      </option>
                                    </select>
                                  </td>
                                </tr> -->
                                <tr
                                class="eds-pagerstyle dropdown inline-table_dark_grey"
                              >
                                <td align="right">
                                 ECCN LOCATION&nbsp; &nbsp;
                                </td>
                                <td align="left">
                                  <select
                                    name="detailDocType"
                                    class=""
                                    tabindex="-1"
                                    [(ngModel)]="detailDocType"
                                  >
                                    <option *ngFor="let doc of documents">
                                      {{ doc.label }}
                                    </option>
                                  </select>
                                </td>
                              </tr>
                              <!-- <tr
                              class="eds-pagerstyle dropdown inline-table_dark_grey"
                            >
                              <td align="right">
                               ECCN NUMBER&nbsp; &nbsp;
                              </td>
                              <td align="left">
                                <select
                                  name="detailDocType"
                                  class=""
                                  tabindex="-1"
                                  [(ngModel)]="detailDocType"
                                >
                                  <option *ngFor="let doc of documents">
                                    {{ doc.label }}
                                  </option>
                                </select>
                              </td>
                            </tr> -->
                                </tbody>
                              </table>
                            </td>
                          </tr>

                          <tr>
                            <td colspan="2">
                              <div
                                id="export-section-id_less"
                                class="hidableSectionLink"
                              >
                                <a
                                  style="cursor: pointer; pointer-events: auto"
                                  routerLinkActive="active"
                                  (click)="advancedSearch()"
                                  >{{ advancedSearchValue }}</a
                                >
                              </div>

                              <div
                                id="export-section-id_more"
                                style="display: none"
                              >
                                <div class="hidableSectionLink">
                                  <a>Advanced Search (Hide)</a>
                                </div>
                                <table width="100%"></table>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td></td>
                  </tr>
                  <div *ngIf="advancedSearchHidden === false">
                    <app-search-pagination></app-search-pagination>
                    <!-- <router-outlet></router-outlet> -->
                  </div>
                  <tr class="eds-pagerstyle-alt blueColSpan">
                    <td colspan="2">
                      <span style="float: right">
                        <input type="submit" value="Search" tabindex="-1" />
                      </span>
                      <span style="float: right">
                        <input
                          type="button"
                          value="Clear"
                          (click)="clear()"
                          tabindex="-1"
                        />
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>

<div>
  <div class="loader-container" *ngIf="loading">
    <div class="loader"></div>
    <p>Loading data, please wait...</p>
  </div>
  <td valign="top" align="left" *ngIf="apiData">
    <br />
    <div class="pagination-container" *ngIf="apiData.length > 0 && totalCount > 15">
      <span class="pagebanner"
        >{{ totalCount | number }} items found, displaying {{ start + 1 }} to
        {{ start + recordsPerPage }}.</span
      >
      <a
        class="pagination-link"
        (click)="goToFirst()"
        [class.disabled]="currentPage === 1"
        >[First</a
      >
      /
      <a
        class="pagination-link"
        (click)="goToPrevious()"
        [class.disabled]="currentPage === 1"
        >Prev]</a
      >
      /

      <!-- Page Numbers -->
      <a
        *ngFor="let page of getVisiblePages(); let i = index; let last=last"
        class="pagination-link"
        (click)="goToPage(page)"
        [class.active]="currentPage === page"
      >
        {{ page }}{{ last ? '' : ',' }}
      </a>
      /

      <!-- Next/Last Buttons -->
      <a
        class="pagination-link"
        (click)="goToNext()"
        [class.disabled]="currentPage === totalPages"
        >[Next</a
      >
      /
      <a
        class="pagination-link"
        (click)="goToLast()"
        [class.disabled]="currentPage === totalPages"
        >Last]</a
      >
    </div>
    <span *ngIf="apiData.length > 0 && totalCount < 16"> {{getWords()}} </span>
    <span *ngIf="apiData.length === 0"
      >No documents matched the search criteria.</span
    >
    <table class="inline-table" id="result">
      <!-- <thead>
        <tr>
          <th *ngFor="let header of tableHeaders">{{ header }}</th>
          <th *ngIf="tableHeaders.length > 0">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of apiData ; let i= index"
        [ngClass]="i % 2 == 0 ? 'eds-pagerstyle': 'eds-pagerstyle-alt'"
       >
          <td *ngFor="let header of tableHeaders">{{ row[header] }}</td>
         <td><a routerLink="/viewStatus" (click)="viewClick(row.docId, row.vendorName,row.subject)">View</a></td>
        </tr>
      </tbody> -->

      <tbody *ngIf="apiData.length > 0">
        <tr>
          <th>VDT System ID No.</th>
          <th>Vnd. Doc. Ref. #</th>
          <th>ATA</th>
          <th>Vendor</th>
          <th>Effectivity</th>
          <th>Subject</th>
          <th>ESO#</th>
          <th>ECO#</th>
          <th>Vendor Part#</th>
          <th>Sections</th>
          <th>Action</th>
        </tr>

        <tr
          *ngFor="let row of apiData; let i = index"
          [ngClass]="i % 2 == 0 ? 'eds-pagerstyle' : 'eds-pagerstyle-alt'"
        >
          <td>{{ row.docId }}</td>
          <td>{{ row.vendorDocRefNbr }}</td>
          <td>{{ row.ata }}</td>
          <td>{{ row.vendorName }}</td>
          <td>{{ row.effectivity }}</td>
          <td>{{ row.subject }}</td>
          <td>{{ row.esos }}</td>
          <td>{{ row.ecos }}</td>
          <td>{{ row.documentPartNumbers }}</td>
          <td>{{ row.engineeringSections }}</td>
          <td>
            <a
              routerLink="/viewStatus"
              (click)="viewClick(row.docId, row.vendorName, row.subject)"
              >View</a
            >
          </td>
        </tr>
      </tbody>
    </table>
    <br />
    <a
      *ngIf="apiData.length > 0"
      style="cursor: pointer"
      (click)="downloadExcel()"
      >Download XLS</a
    >
    <br /><span *ngIf="apiData.length > 0"
      >(Please note: Depending on the size, this operation might take several
      minutes)</span
    >
  </td>
</div>

<!-- <button (click)="downloadExcel()">Download Excel</button> -->
