<div>
  <table>
    <div>
      <tbody>
        <tr>
          <td>
            <table>
              <tbody>
                <tr class="eds-pagerstyle-alt inline-table_dark_grey">
                  <td align="right">VDT System ID No.&nbsp; &nbsp;</td>
                  <td align="left">
                    <input
                      type="text"
                      name="docName"
                      class=""
                      id="docName"
                      value=""
                      size="20"
                      maxlength="40"
                      tabindex="-1"
                    />
                  </td>
                </tr>

                <tr
                  class="eds-pagerstyle search-style dropdown inline-table_dark_grey"
                >
                  <td align="right">Effectivity&nbsp; &nbsp;</td>
                  <td align="left">
                    <select
                      name="effectivity"
                      class=""
                      id="effectivities"
                      multiple="multiple"
                      style="font-family: Arial; font-size: 12px"
                      tabindex="-1"
                    >
                      <option value=""></option>
                      <option
                        *ngFor="let option of options"
                        [value]="option.value"
                      >
                        {{ option.label }}
                      </option>
                    </select>
                  </td>
                </tr>

                <tr class="eds-pagerstyle-alt inline-table_dark_grey">
                  <td align="right">Detail Subject Desc&nbsp; &nbsp;</td>
                  <td align="left">
                    <input
                      type="text"
                      name="subject"
                      class=""
                      id="detailId"
                      value=""
                      size="20"
                      maxlength="40"
                      tabindex="-1"
                    />
                  </td>
                </tr>

                <tr class="eds-pagerstyle inline-table_dark_grey" style="">
                  <td align="right">Bin&nbsp; &nbsp;</td>
                  <td align="left">
                    <input
                      type="text"
                      name="bin"
                      class=""
                      value=""
                      size="20"
                      maxlength="40"
                      tabindex="-1"
                    />
                  </td>
                </tr>

                <tr class="eds-pagerstyle-alt inline-table_dark_grey" style="">
                  <td align="right">Document Type&nbsp; &nbsp;</td>
                  <td align="left">
                    <input
                      type="text"
                      name="documentType"
                      class=""
                      value=""
                      size="20"
                      maxlength="42"
                      tabindex="-1"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
          <td>
            <table>
              <tbody>
                <tr align="right" valign="top">
                  <td align="right" valign="top">
                    <table>
                      <tbody>
                        <tr align="right">
                          <td align="right"></td>
                        </tr>
                        <tr
                          class="eds-pagerstyle inline-table_dark_grey search-style"
                        >
                          <td align="right">Section&nbsp; &nbsp;</td>
                          <td align="left">
                            <select
                              name="section"
                              class=""
                              id="sections"
                              multiple="multiple"
                              style="
                                width: 192px;
                                font-family: Arial;
                                font-size: 12px;
                              "
                              tabindex="-1"
                            >
                              <option *ngFor="let option of sectionsList">
                                {{ option.label }}
                              </option>
                            </select>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr align="right" valign="top">
                  <td align="right" valign="top"></td>
                </tr>
                <tr class="eds-pagerstyle-alt inline-table_dark_grey">
                  <td colspan="2">
                    &nbsp; Manual Date Range

                    <input
                      type="text"
                      name="manualStartDate"
                      class=""
                      id="manualStartDateId"
                      value=""
                      size="10"
                      autocomplete="off"
                    />

                    <span
                      ><img
                        onmouseover="this.style.cursor='hand'"
                        id="manualStartDateId_date"
                        align="ABSMIDDLE"
                        src="assets/images/calendar.gif"
                    /></span>
                    -
                    <input
                      type="text"
                      name="manualEndDate"
                      class=""
                      id="manualEndDateId"
                      value=""
                      size="10"
                      tabindex="-1"
                      autocomplete="off"
                    />

                    <span
                      ><img
                        onmouseover="this.style.cursor='hand'"
                        id="manualEndDateId_date"
                        align="ABSMIDDLE"
                        src="assets/images/calendar.gif"
                    /></span>
                  </td>
                </tr>

                <tr align="right" valign="top">
                  <td align="right" valign="top"></td>
                </tr>
                <tr class="eds-pagerstyle inline-table_dark_grey">
                  <td colspan="2">
                    Reissue Date Range

                    <input
                      type="text"
                      name="reissueStartDate"
                      class=""
                      id="reissueStartDateId"
                      value=""
                      size="10"
                      tabindex="-1"
                      autocomplete="off"
                    />

                    <span
                      ><img
                        onmouseover="this.style.cursor='hand'"
                        id="reissueStartDateId_date"
                        align="ABSMIDDLE"
                        src="assets/images/calendar.gif"
                    /></span>
                    -
                    <input
                      type="text"
                      name="reissueEndDate"
                      class=""
                      id="reissueEndDateId"
                      value=""
                      size="10"
                      tabindex="-1"
                      autocomplete="off"
                    />

                    <span
                      ><img
                        onmouseover="this.style.cursor='hand'"
                        id="reissueEndDateId_date"
                        align="ABSMIDDLE"
                        src="assets/images/calendar.gif"
                    /></span>
                  </td>
                </tr>

                <tr align="right" valign="top">
                  <td align="right" valign="top" style="color: black">
                    Document Subject

                    <input
                      type="text"
                      name="documentSubject"
                      class=""
                      id="documentSubject"
                      value=""
                      size="34"
                      maxlength="40"
                      tabindex="-1"
                    />

                    &nbsp;
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </div>
  </table>
</div>
