::ng-deep .category.eds-tabheader {
    width: 75%;
  }
  
 ::ng-deep .category.eds-tabheader::after {
    height: 50%;
    width: 133%;
    top: 17px;
    bottom: 0;
    left: 0;
    border-top-right-radius: 34px;
  }