<div>
    <td valign="top" align="left">
  <table border="0" cellspacing="0" cellpadding="0" width="100%">
    <tbody>
      <tr>
        <td
          id="errorMsg"
          class="eds-messageframe"
          style="display: none"
          align="left"
        >
          <ul>
            <li>
              <span class="eds-message-warning" id="errorMsgContents"> </span>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td id="emptyRow" style="display: none">&nbsp;</td>
      </tr>
      <tr>
        <td align="left">
          <!-- CONTENT -->

          <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td style="padding-top: 20px">
                  <table
                    class="category eds-tabheader"
                    cellspacing="0"
                    cellpadding="0"
                    border="0"
                  >
                    <tbody>
                      <tr>
                        <td class="eds-tabtopleftcorner"></td>
                        <td class="eds-tabtopmiddle" align="center">
                          <div class="eds-tabtitle">
                            Manage Document Categories
                          </div>
                        </td>
                        <td class="eds-tabtoprightcorner"></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="eds-tabtoprightcorner"></td>
              </tr>
              <tr>
                <td>
                  <table
                    cellspacing="0"
                    cellpadding="0"
                    width="100%"
                    border="0"
                    class="eds-tabtitle"
                  >
                    <tbody>
                      <tr>
                        <td>
                          <form
                            name="DocumentCategoryForm"
                            id="manageDocumentCategoriesForm"
                            method="post"
                            action="/vdt/SaveDocumentCategory.html"
                          >
                            <input type="hidden" name="editId" value="" />

                            <!-- Inline edit table -->
                            <style type="text/css">
                              .hide {
                                display: none;
                              }
                            </style>
                            <table id="inline-table" class="inline-table">
                              <tbody>
                                <tr>
                                  <th>Doc Category Code *</th>
                                  <th>Description</th>
                                  <th></th>
                                </tr>
                                <tr
                                  class="eds-pagerstyle"
                                  id="inline-table_inlineRow_--        "
                                >
                                  <td>
                                    <a
                                      name="inline-table_inline_tag_anchor__--        "
                                    ></a
                                    ><span
                                      class="null"
                                      id="inline-table_documentCatgCd_--        "
                                      >--
                                    </span>
                                    <span
                                      id="inline-table_documentCatgCd_field_--        "
                                      style="display: none"
                                      class="eds-field-required"
                                    >
                                      <input
                                        type="text"
                                        name="inline-table_documentCatgCd_field_--        "
                                        value="--        "
                                        readonly="readonly"
                                        size="12"
                                        maxlength="10"
                                      />
                                    </span>
                                  </td>
                                  <td>
                                    <span
                                      id="inline-table_documentCatgDesc_--        "
                                    ></span>
                                    <span
                                      id="inline-table_documentCatgDesc_field_--        "
                                      style="display: none"
                                      class=" "
                                    >
                                      <input
                                        type="text"
                                        name="inline-table_documentCatgDesc_field_--        "
                                        value=""
                                        size="20"
                                        maxlength="30"
                                      />
                                    </span>
                                  </td>
                                  <td>
                                    <input
                                      name="inline-table_updateButton"
                                      id="inline-table_update_--        "
                                      type="button"
                                      value="Update"
                                      onclick='updateRow("inline-table","--        ",null,true,new Array("documentCatgCd","documentCatgDesc"));'
                                    />
                                    <input
                                      id="inline-table_save_--        "
                                      type="button"
                                      value="Save"
                                      style="display: none"
                                      onclick='saveRow("manageDocumentCategoriesForm","inline-table","--        ","editId",null,new Array("documentCatgCd","documentCatgDesc"));'
                                    /><input
                                      id="inline-table_delete_--        "
                                      type="button"
                                      value="Delete"
                                      style="display: none"
                                      onclick='deleteRow("manageDocumentCategoriesForm","inline-table","--        ","editId",null,"DeleteDocumentCategory.html");'
                                    /><input
                                      id="inline-table_cancel_--        "
                                      type="button"
                                      value="Cancel"
                                      style="display: none"
                                      onclick='cancel("manageDocumentCategoriesForm","editId","ManageDocumentCategories.html");'
                                    />
                                  </td>
                                </tr>
                                <tr
                                  class="eds-pagerstyle-alt"
                                  id="inline-table_inlineRow_<-->      "
                                >
                                  <td>
                                    <a
                                      name="inline-table_inline_tag_anchor__<-->      "
                                    ></a
                                    ><span
                                      class="null"
                                      id="inline-table_documentCatgCd_<-->      "
                                      >&lt;--&gt;
                                    </span>
                                    <span
                                      id="inline-table_documentCatgCd_field_<-->      "
                                      style="display: none"
                                      class="eds-field-required"
                                    >
                                      <input
                                        type="text"
                                        name="inline-table_documentCatgCd_field_<-->      "
                                        value="<-->      "
                                        readonly="readonly"
                                        size="12"
                                        maxlength="10"
                                      />
                                    </span>
                                  </td>
                                  <td>
                                    <span
                                      id="inline-table_documentCatgDesc_<-->      "
                                    ></span>
                                    <span
                                      id="inline-table_documentCatgDesc_field_<-->      "
                                      style="display: none"
                                      class=" "
                                    >
                                      <input
                                        type="text"
                                        name="inline-table_documentCatgDesc_field_<-->      "
                                        value=""
                                        size="20"
                                        maxlength="30"
                                      />
                                    </span>
                                  </td>
                                  <td>
                                    <input
                                      name="inline-table_updateButton"
                                      id="inline-table_update_<-->      "
                                      type="button"
                                      value="Update"
                                      onclick='updateRow("inline-table","<-->      ",null,true,new Array("documentCatgCd","documentCatgDesc"));'
                                    />
                                    <input
                                      id="inline-table_save_<-->      "
                                      type="button"
                                      value="Save"
                                      style="display: none"
                                      onclick='saveRow("manageDocumentCategoriesForm","inline-table","<-->      ","editId",null,new Array("documentCatgCd","documentCatgDesc"));'
                                    /><input
                                      id="inline-table_delete_<-->      "
                                      type="button"
                                      value="Delete"
                                      style="display: none"
                                      onclick='deleteRow("manageDocumentCategoriesForm","inline-table","<-->      ","editId",null,"DeleteDocumentCategory.html");'
                                    /><input
                                      id="inline-table_cancel_<-->      "
                                      type="button"
                                      value="Cancel"
                                      style="display: none"
                                      onclick='cancel("manageDocumentCategoriesForm","editId","ManageDocumentCategories.html");'
                                    />
                                  </td>
                                </tr>
                                <tr
                                  class="eds-pagerstyle"
                                  id="inline-table_inlineRow_AIRFRAME  "
                                >
                                  <td>
                                    <a
                                      name="inline-table_inline_tag_anchor__AIRFRAME  "
                                    ></a
                                    ><span
                                      class="null"
                                      id="inline-table_documentCatgCd_AIRFRAME  "
                                      >AIRFRAME
                                    </span>
                                    <span
                                      id="inline-table_documentCatgCd_field_AIRFRAME  "
                                      style="display: none"
                                      class="eds-field-required"
                                    >
                                      <input
                                        type="text"
                                        name="inline-table_documentCatgCd_field_AIRFRAME  "
                                        value="AIRFRAME  "
                                        readonly="readonly"
                                        size="12"
                                        maxlength="10"
                                      />
                                    </span>
                                  </td>
                                  <td>
                                    <span
                                      class="null"
                                      id="inline-table_documentCatgDesc_AIRFRAME  "
                                      >AIRFRAME
                                    </span>
                                    <span
                                      id="inline-table_documentCatgDesc_field_AIRFRAME  "
                                      style="display: none"
                                      class=" "
                                    >
                                      <input
                                        type="text"
                                        name="inline-table_documentCatgDesc_field_AIRFRAME  "
                                        value="AIRFRAME                      "
                                        size="20"
                                        maxlength="30"
                                      />
                                    </span>
                                  </td>
                                  <td>
                                    <input
                                      name="inline-table_updateButton"
                                      id="inline-table_update_AIRFRAME  "
                                      type="button"
                                      value="Update"
                                      onclick='updateRow("inline-table","AIRFRAME  ",null,true,new Array("documentCatgCd","documentCatgDesc"));'
                                    />
                                    <input
                                      id="inline-table_save_AIRFRAME  "
                                      type="button"
                                      value="Save"
                                      style="display: none"
                                      onclick='saveRow("manageDocumentCategoriesForm","inline-table","AIRFRAME  ","editId",null,new Array("documentCatgCd","documentCatgDesc"));'
                                    /><input
                                      id="inline-table_delete_AIRFRAME  "
                                      type="button"
                                      value="Delete"
                                      style="display: none"
                                      onclick='deleteRow("manageDocumentCategoriesForm","inline-table","AIRFRAME  ","editId",null,"DeleteDocumentCategory.html");'
                                    /><input
                                      id="inline-table_cancel_AIRFRAME  "
                                      type="button"
                                      value="Cancel"
                                      style="display: none"
                                      onclick='cancel("manageDocumentCategoriesForm","editId","ManageDocumentCategories.html");'
                                    />
                                  </td>
                                </tr>
                                <tr
                                  class="eds-pagerstyle-alt"
                                  id="inline-table_inlineRow_COMPONENT "
                                >
                                  <td>
                                    <a
                                      name="inline-table_inline_tag_anchor__COMPONENT "
                                    ></a
                                    ><span
                                      class="null"
                                      id="inline-table_documentCatgCd_COMPONENT "
                                      >COMPONENT
                                    </span>
                                    <span
                                      id="inline-table_documentCatgCd_field_COMPONENT "
                                      style="display: none"
                                      class="eds-field-required"
                                    >
                                      <input
                                        type="text"
                                        name="inline-table_documentCatgCd_field_COMPONENT "
                                        value="COMPONENT "
                                        readonly="readonly"
                                        size="12"
                                        maxlength="10"
                                      />
                                    </span>
                                  </td>
                                  <td>
                                    <span
                                      class="null"
                                      id="inline-table_documentCatgDesc_COMPONENT "
                                      >COMPONENT
                                    </span>
                                    <span
                                      id="inline-table_documentCatgDesc_field_COMPONENT "
                                      style="display: none"
                                      class=" "
                                    >
                                      <input
                                        type="text"
                                        name="inline-table_documentCatgDesc_field_COMPONENT "
                                        value="COMPONENT                     "
                                        size="20"
                                        maxlength="30"
                                      />
                                    </span>
                                  </td>
                                  <td>
                                    <input
                                      name="inline-table_updateButton"
                                      id="inline-table_update_COMPONENT "
                                      type="button"
                                      value="Update"
                                      onclick='updateRow("inline-table","COMPONENT ",null,true,new Array("documentCatgCd","documentCatgDesc"));'
                                    />
                                    <input
                                      id="inline-table_save_COMPONENT "
                                      type="button"
                                      value="Save"
                                      style="display: none"
                                      onclick='saveRow("manageDocumentCategoriesForm","inline-table","COMPONENT ","editId",null,new Array("documentCatgCd","documentCatgDesc"));'
                                    /><input
                                      id="inline-table_delete_COMPONENT "
                                      type="button"
                                      value="Delete"
                                      style="display: none"
                                      onclick='deleteRow("manageDocumentCategoriesForm","inline-table","COMPONENT ","editId",null,"DeleteDocumentCategory.html");'
                                    /><input
                                      id="inline-table_cancel_COMPONENT "
                                      type="button"
                                      value="Cancel"
                                      style="display: none"
                                      onclick='cancel("manageDocumentCategoriesForm","editId","ManageDocumentCategories.html");'
                                    />
                                  </td>
                                </tr>
                                <tr
                                  class="eds-pagerstyle"
                                  id="inline-table_inlineRow_ENGINE    "
                                >
                                  <td>
                                    <a
                                      name="inline-table_inline_tag_anchor__ENGINE    "
                                    ></a
                                    ><span
                                      class="null"
                                      id="inline-table_documentCatgCd_ENGINE    "
                                      >ENGINE
                                    </span>
                                    <span
                                      id="inline-table_documentCatgCd_field_ENGINE    "
                                      style="display: none"
                                      class="eds-field-required"
                                    >
                                      <input
                                        type="text"
                                        name="inline-table_documentCatgCd_field_ENGINE    "
                                        value="ENGINE    "
                                        readonly="readonly"
                                        size="12"
                                        maxlength="10"
                                      />
                                    </span>
                                  </td>
                                  <td>
                                    <span
                                      class="null"
                                      id="inline-table_documentCatgDesc_ENGINE    "
                                      >ENGINE
                                    </span>
                                    <span
                                      id="inline-table_documentCatgDesc_field_ENGINE    "
                                      style="display: none"
                                      class=" "
                                    >
                                      <input
                                        type="text"
                                        name="inline-table_documentCatgDesc_field_ENGINE    "
                                        value="ENGINE                        "
                                        size="20"
                                        maxlength="30"
                                      />
                                    </span>
                                  </td>
                                  <td>
                                    <input
                                      name="inline-table_updateButton"
                                      id="inline-table_update_ENGINE    "
                                      type="button"
                                      value="Update"
                                      onclick='updateRow("inline-table","ENGINE    ",null,true,new Array("documentCatgCd","documentCatgDesc"));'
                                    />
                                    <input
                                      id="inline-table_save_ENGINE    "
                                      type="button"
                                      value="Save"
                                      style="display: none"
                                      onclick='saveRow("manageDocumentCategoriesForm","inline-table","ENGINE    ","editId",null,new Array("documentCatgCd","documentCatgDesc"));'
                                    /><input
                                      id="inline-table_delete_ENGINE    "
                                      type="button"
                                      value="Delete"
                                      style="display: none"
                                      onclick='deleteRow("manageDocumentCategoriesForm","inline-table","ENGINE    ","editId",null,"DeleteDocumentCategory.html");'
                                    /><input
                                      id="inline-table_cancel_ENGINE    "
                                      type="button"
                                      value="Cancel"
                                      style="display: none"
                                      onclick='cancel("manageDocumentCategoriesForm","editId","ManageDocumentCategories.html");'
                                    />
                                  </td>
                                </tr>
                                <tr
                                  class="eds-pagerstyle-alt"
                                  id="inline-table_inlineRow_ITAR      "
                                >
                                  <td>
                                    <a
                                      name="inline-table_inline_tag_anchor__ITAR      "
                                    ></a
                                    ><span
                                      class="null"
                                      id="inline-table_documentCatgCd_ITAR      "
                                      >ITAR
                                    </span>
                                    <span
                                      id="inline-table_documentCatgCd_field_ITAR      "
                                      style="display: none"
                                      class="eds-field-required"
                                    >
                                      <input
                                        type="text"
                                        name="inline-table_documentCatgCd_field_ITAR      "
                                        value="ITAR      "
                                        readonly="readonly"
                                        size="12"
                                        maxlength="10"
                                      />
                                    </span>
                                  </td>
                                  <td>
                                    <span
                                      class="null"
                                      id="inline-table_documentCatgDesc_ITAR      "
                                      >COMPONENT
                                    </span>
                                    <span
                                      id="inline-table_documentCatgDesc_field_ITAR      "
                                      style="display: none"
                                      class=" "
                                    >
                                      <input
                                        type="text"
                                        name="inline-table_documentCatgDesc_field_ITAR      "
                                        value="COMPONENT                     "
                                        size="20"
                                        maxlength="30"
                                      />
                                    </span>
                                  </td>
                                  <td>
                                    <input
                                      name="inline-table_updateButton"
                                      id="inline-table_update_ITAR      "
                                      type="button"
                                      value="Update"
                                      onclick='updateRow("inline-table","ITAR      ",null,true,new Array("documentCatgCd","documentCatgDesc"));'
                                    />
                                    <input
                                      id="inline-table_save_ITAR      "
                                      type="button"
                                      value="Save"
                                      style="display: none"
                                      onclick='saveRow("manageDocumentCategoriesForm","inline-table","ITAR      ","editId",null,new Array("documentCatgCd","documentCatgDesc"));'
                                    /><input
                                      id="inline-table_delete_ITAR      "
                                      type="button"
                                      value="Delete"
                                      style="display: none"
                                      onclick='deleteRow("manageDocumentCategoriesForm","inline-table","ITAR      ","editId",null,"DeleteDocumentCategory.html");'
                                    /><input
                                      id="inline-table_cancel_ITAR      "
                                      type="button"
                                      value="Cancel"
                                      style="display: none"
                                      onclick='cancel("manageDocumentCategoriesForm","editId","ManageDocumentCategories.html");'
                                    />
                                  </td>
                                </tr>
                                <tr class="eds-pagerstyle">
                                  <input
                                    type="hidden"
                                    name="inline-table_editId"
                                    value=""
                                  />
                                  <td>
                                    <span
                                      id="inline-table_documentCatgCd_field_-1"
                                      style="display: none"
                                      class="eds-field-required"
                                    >
                                      <input
                                        type="text"
                                        name="inline-table_documentCatgCd_field_-1"
                                        value=""
                                        size="12"
                                        maxlength="10"
                                      />
                                    </span>
                                  </td>
                                  <td>
                                    <span
                                      id="inline-table_documentCatgDesc_field_-1"
                                      style="display: none"
                                      class=" "
                                    >
                                      <input
                                        type="text"
                                        name="inline-table_documentCatgDesc_field_-1"
                                        value=""
                                        size="20"
                                        maxlength="30"
                                      />
                                    </span>
                                  </td>
                                  <td>
                                    <input
                                      type="hidden"
                                      name="documentCatgCd"
                                      value=""
                                    /><input
                                      type="hidden"
                                      name="documentCatgDesc"
                                      value=""
                                    /><input
                                      name="inline-table_updateButton"
                                      id="inline-table_update_-1"
                                      type="button"
                                      value="Create"
                                      onclick='updateRow("inline-table","-1",null,true,new Array("documentCatgCd","documentCatgDesc"));'
                                    />
                                    <input
                                      id="inline-table_save_-1"
                                      type="button"
                                      value="Save"
                                      style="display: none"
                                      onclick='saveRow("manageDocumentCategoriesForm","inline-table","-1","editId",null,new Array("documentCatgCd","documentCatgDesc"));'
                                    /><input
                                      id="inline-table_cancel_-1"
                                      type="button"
                                      value="Cancel"
                                      style="display: none"
                                      onclick='cancel("manageDocumentCategoriesForm","editId","ManageDocumentCategories.html");'
                                    />
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                    
                          </form>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</td>
</div>
