<div *ngIf="dataFlag">
<td valign="top" align="left">
  <table border="0" cellspacing="0" cellpadding="0" width="100%">
    <ng-container>
    <tbody>
      <th></th>
      <tr>
        <td
          id="errorMsg"
          class="eds-messageframe"
          style="display: none"
          align="left"
        >
          <ul>
            <li>
              <span class="eds-message-warning" id="errorMsgContents"> </span>
            </li>
          </ul>
        </td>
      </tr>
      <div *ngIf="savedSection" class="savedDoc">SUCCESS: Section was saved successfully.</div>
      <div *ngIf="sectionDeleted" class="savedDoc">SUCCESS: Section was deleted successfully.</div>
      
      <tr>
        <td id="emptyRow" style="display: none">&nbsp;</td>
      </tr>
      <tr>
        <td align="left">
          <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <th></th>
              <tr>
                <td style="padding-top: 12px;">
                  <table
                    class="eds-tabheader"
                    cellspacing="0"
                    cellpadding="0"
                    border="0"
                  >
                    <tbody>
                      <th></th>
                      <tr>
                        <td class="eds-tabtopleftcorner"></td>
                        <td class="eds-tabtopmiddle" align="center">
                          <div class="eds-tabtitle">Manage Sections</div>
                        </td>
                        <td class="eds-tabtoprightcorner"></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="eds-tabtoprightcorner"></td>
              </tr>
              <tr>
                <td>
                  <table
                    cellspacing="0"
                    cellpadding="0"
                    width="100%"
                    border="0"
                    class="eds-tabtitle"
                  >
                    <tbody>
                      <th></th>
                      <tr>
                        <td>
                          <form
                            name="SectionForm"
                            id="manageSectionForm"
                            method="post"
                            action="/vdt/SaveSection.html"
                          >
                            <input type="hidden" name="editId" value="" />

                            <!-- Inline edit table -->
                            <style type="text/css">
                              .hide {
                                display: none;
                              }
                            </style>
                            <table  id="inline-table" class="inline-table">
                              <tbody>
                                <tr>
                                  <th>Section *</th>
                                  <th>Description</th>
                                  <th>Inactive</th>
                                  <th>Inactive Date</th>
                                  <th></th>
                                </tr>

                                <tr *ngFor="let status of sections; let i= index" [ngClass]="i % 2 == 0 ?'eds-pagerstyle':'eds-pagerstyle-alt'">                                                                              
                                  <td *ngIf="btnIndex !==i && status.newRow !== true">{{status.section}}</td>
                                  <td *ngIf="btnIndex ===i  ||  status.newRow === true">
                                    <a
                                      name="inline-table_inline_tag_anchor__1"
                                    ></a
                                    ><span
                                      class="null"
                                      id="inline-table_section_1"
                                      style="display: none"
                                      >1</span
                                    >
                                    <span
                                      id="inline-table_section_field_1"                                     
                                      class="eds-field-required"
                                    >
                                      <input
                                        type="text"
                                        name="inline-table_section_field_1"
                                        [(ngModel)]="status.section"
                                        [readonly]="status.newRow !== true"
                                        size="12"
                                        maxlength="20"
                                      />
                                    </span>
                                  </td>
                                  <td  *ngIf="btnIndex ===i||  status.newRow === true">
                                    <span
                                      class="null"
                                      id="inline-table_description_1"
                                      style="display: none"
                                      >1- RELIABILITY/EIS ENGINEERING</span
                                    >
                                    <span
                                      id="inline-table_description_field_1"
                                      style=""
                                      class=" "
                                    >
                                      <input
                                        type="text"
                                        name="inline-table_description_field_1"
                                        [(ngModel)]="status.description"
                                        size="20"
                                        maxlength="50"
                                      />
                                    </span>
                                  </td>
                                  <td  *ngIf="btnIndex ===i ||  status.newRow === true">
                                    <span
                                      class="null"
                                      id="inline-table_inactiveInd_1"
                                      style="display: none"
                                      >Y</span
                                    >
                                    <span
                                      id="inline-table_inactiveInd_field_1"
                                     
                                    >
                                      <select
                                        name="inline-table_inactiveInd_field_1"
                                        [(ngModel)]="status.inactiveInd"
                                      >
                                        <option value="N">No</option>
                                        <option value="Y" selected="selected">
                                          Yes
                                        </option>
                                      </select>
                                    </span>
                                  </td>
                                  <td  *ngIf="btnIndex ===i ||  status.newRow === true">
                                    <span
                                      class="null"
                                      id="inline-table_inactiveDateForDisplay_1"
                                      >{{status.inactiveDate | date:'MM/dd/YYYY'}}</span
                                    >
                                  </td>
                                  <td *ngIf="btnIndex !==i &&  status.newRow !== true">{{status.description}}</td>
                                  <td *ngIf="btnIndex !==i &&  status.newRow !== true">{{status.inactiveInd}}</td>
                                  <td *ngIf="btnIndex !==i &&  status.newRow !== true">{{status.inactiveDate | date:'MM/dd/YYYY'}}</td>
                                  <td *ngIf="btnIndex !==i &&  status.newRow !== true"><button style="border: 1px solid gray; border-radius: 2px;"
                                    (click)="btnClick(i)">Update</button></td>
                                    <td  *ngIf="btnIndex ===i ||  status.newRow === true">
                                    <input
                                    id="inline-table_save_1"
                                    type="button"
                                    value="Save"                                   
                                    (click)='saveRow(status.section,status.description,status.inactiveInd,status.inactiveDate);'
                                  /><input
                                    id="inline-table_delete_1"
                                    type="button"
                                    value="Delete"                                    
                                    (click)='deleteRow(status.section);'
                                  />
                                 <button id="inline-table_cancel_1"
                                 type="button"
                                 value="Cancel"                                
                                 (click)='cancelRow()'>                                    
                                  cancel
                                </button>
                                </td>
                                </tr>
                                                 
                                <tr class="eds-pagerstyle">
                                  <input
                                    type="hidden"
                                    name="inline-table_editId"
                                    value=""
                                  />
                                  <td>
                                    <span
                                      id="inline-table_eccnLocationCd_field_-1"
                                      style="display: none"
                                      class="eds-field-required"
                                    >
                                      <input
                                        type="text"
                                        name="inline-table_eccnLocationCd_field_-1"
                                        value=""
                                        size="12"
                                        maxlength="50"
                                      />
                                    </span>
                                  </td>
                                  <td>
                                    <span
                                      id="inline-table_eccnLocationDesc_field_-1"
                                      style="display: none"
                                      class=" "
                                    >
                                      <input
                                        type="text"
                                        name="inline-table_eccnLocationDesc_field_-1"
                                        value=""
                                        size="20"
                                        maxlength="50"
                                      />
                                    </span>
                                  </td>
                                  <td>
                                    <span
                                      id="inline-table_eccnLocationDesc_field_-1"
                                      style="display: none"
                                      class=" "
                                    >
                                      <input
                                        type="text"
                                        name="inline-table_eccnLocationDesc_field_-1"
                                        value=""
                                        size="20"
                                        maxlength="50"
                                      />
                                    </span>
                                  </td>
                                  <td>
                                    <span
                                      id="inline-table_eccnLocationDesc_field_-1"
                                      style="display: none"
                                      class=" "
                                    >
                                      <input
                                        type="text"
                                        name="inline-table_eccnLocationDesc_field_-1"
                                        value=""
                                        size="20"
                                        maxlength="50"
                                      />
                                    </span>
                                  </td>
                                  <td>
                                    <input
                                      type="hidden"
                                      name="eccnLocationCd"
                                      value=""
                                    /><input
                                      type="hidden"
                                      name="eccnLocationDesc"
                                      value=""
                                    />
                                  <input
                                      name="inline-table_updateButton"
                                      id="inline-table_update_-1"
                                      type="button"
                                      value="Create"
                                      (click)='createRow();'
                                    />
                                    <input
                                      id="inline-table_save_-1"
                                      type="button"
                                      value="Save"
                                      style="display: none"
                                      onclick='saveRow("manageEccnLocationForm","inline-table","-1","editId",null,new Array("eccnLocationCd","eccnLocationDesc"));'
                                    /><input
                                      id="inline-table_cancel_-1"
                                      type="button"
                                      value="Cancel"
                                      style="display: none"
                                      onclick='cancel("manageEccnLocationForm","editId","ManageEccnLocations.html");'
                                    />
                                  </td>
                                </tr>

                                
                              </tbody>
                            </table>
                          </form>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </ng-container>
  </table>
</td>
</div>

