<div style="margin-top: 15px">  
  <tr>
    <td valign="top" align="left">
      <div *ngIf="auditDownloadError" class="errMsg">{{auditDownloadError}}. Please contact system administrator </div>      
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tbody>
          <th></th>          
          <tr>
            <td align="left">
              <form #auditForm="ngForm"
                name="AuditSearchForm"
                id="searchFormId"
                method="get"
                action="/vdt/AuditSearch.html"
                (submit)="onSearch()"
              >
                <table
                  cellspacing="0"
                  cellpadding="0"
                  border="0"
                  style="width: 105%"
                >
                  <tbody>
                    <th></th>
                    <tr>
                      <td>
                        <table
                          class="eds-tabheader"
                          cellspacing="0"
                          cellpadding="0"
                          border="0"
                        >
                          <tbody>
                            <th></th>
                            <tr>
                              <td class="eds-tabtopleftcorner"></td>
                              <td class="eds-tabtopmiddle" align="center">
                                <div class="eds-tabtitle">Search Criteria</div>
                              </td>
                              <td class="eds-tabtoprightcorner"></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td class="eds-tabtoprightcorner"></td>
                    </tr>
                    <tr>
                      <td>
                        <table
                          cellspacing="0"
                          cellpadding="0"
                          width="100%"
                          border="0"
                          class="eds-tabtitle"
                        >
                          <tbody>
                            <th></th>
                            <tr>
                              <td>
                                <fieldset class="inline-table_dark_grey">
                                  <legend style="color: black; font-size: 13px">
                                    Document/POP
                                  </legend>
                                  <table class="inline-table_dark_grey">
                                    <tbody>
                                      <th></th>
                                      <tr>
                                        <td
                                          align="left"
                                          style="
                                            vertical-align: top;
                                            width: 50%;
                                            padding-left: 20px;
                                          "
                                        >
                                          <table>
                                            <tbody>
                                              <th></th>
                                              <tr
                                                class="eds-pagerstyle inline-table_dark_grey"
                                              >
                                                <td align="right">
                                                  ESO&nbsp; &nbsp;
                                                </td>
                                                <td align="left">
                                                  <input
                                                    type="text"
                                                    name="eso"
                                                    class=""
                                                    value=""
                                                    size="20"
                                                    maxlength="40"
                                                    style="width: 188px"
                                                    [(ngModel)]="eso"
                                                  />
                                                </td>
                                              </tr>

                                              <tr
                                                class="eds-pagerstyle-alt inline-table_dark_grey"
                                              >
                                                <td align="right">
                                                  ATA&nbsp; &nbsp;
                                                </td>
                                                <td align="left">
                                                  <input
                                                    type="text"
                                                    name="ata"
                                                    class=""
                                                    value=""
                                                    size="20"
                                                    maxlength="40"
                                                    style="width: 188px"
                                                    [(ngModel)]="ata"
                                                  />
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                        <td
                                          style="
                                            vertical-align: top;
                                            width: 50%;
                                          "
                                        >
                                          <table>
                                            <tbody>
                                              <th></th>
                                              <tr
                                                class="eds-pagerstyle inline-table_dark_grey"
                                              >
                                                <td align="right">
                                                  Vendor Name&nbsp; &nbsp;
                                                </td>
                                                <td align="left">
                                                  <input
                                                    type="text"
                                                    name="vendorName"
                                                    class=""
                                                    value=""
                                                    size="20"
                                                    style="width: 172px"
                                                    maxlength="40"
                                                    [(ngModel)]="vendorName"
                                                  />
                                                </td>
                                              </tr>

                                              <tr
                                                class="eds-pagerstyle-alt dropdown inline-table_dark_grey"
                                              >
                                                <td align="right">
                                                  Detail Doc Type&nbsp; &nbsp;
                                                </td>
                                                <td align="left">
                                                  <select
                                                    name="detailDocType"
                                                    class=""
                                                    style="height: 21px"
                                                    id="detailDocType"
                                                    [(ngModel)]="detailDocType"
                                                  >
                                                    <option value=""></option>
                                                    <option
                                                      value="ALL AUDITABLE DOC TYPES"
                                                    >
                                                      ALL AUDITABLE DOC TYPES
                                                    </option>
                                                   <option *ngFor="let doc of auditDetailDocType" [value]="doc">
                                                       {{doc}}
                                                   </option>
                                                    
                                                 
                                                  </select>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>

                                  <table
                                    class="inline-table_dark_grey"
                                    style="width: 100%"
                                  >
                                    <tbody>
                                      <th></th>
                                      <tr>
                                        <td
                                          align="right"
                                          style="
                                            vertical-align: top;
                                            width: 40%;
                                            padding-left: 20px;
                                          "
                                        >
                                          <table style="width: 100%">
                                            <tbody>
                                              <th></th>
                                              <tr
                                                class="eds-pagerstyle inline-table_dark_grey"
                                              >
                                                <td align="right">
                                                  Effectivity&nbsp; &nbsp;
                                                </td>
                                                <td align="left">
                                                  <select
                                                    name="effectivity"
                                                    class=""
                                                    id="effectivities"
                                                    multiple="multiple"
                                                    style="
                                                      font-family: 'Arial',sans-serif !important;
                                                      font-size: 12px;
                                                    "
                                                    [(ngModel)]="effectivity"
                                                  >
                                                    <option *ngFor="let doc of searchEffetivity" [value]="doc">
                                                      {{ doc }}
                                                    </option>
                                                  </select>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                        <td
                                          align="right"
                                          style="
                                            vertical-align: top;
                                            width: 40%;
                                          "
                                        >
                                          <table
                                            style="
                                              width: 100%;
                                              white-space: nowrap;
                                            "
                                          >
                                            <tbody>
                                              <th></th>
                                              <tr class="eds-pagerstyle-alt">
                                                <td
                                                  style="width: 43%"
                                                  class="inline-table_dark_grey"
                                                >
                                                  AA Revision #
                                                </td>

                                                <td
                                                  style="width: 52%"
                                                  class="inline-table_dark_grey"
                                                >
                                                  <input
                                                    type="text"
                                                    name="currentAARevision"
                                                    class=""
                                                    value=""
                                                    size="10"
                                                    maxlength="10"
                                                    [(ngModel)]="AAResvision"
                                                  />
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </fieldset>

                                <fieldset
                                  class="inline-table_dark_grey fieldsetBorder"
                                  style="padding: 10px;"
                                >
                                  <legend
                                    style="color: black; font-size: 13px"
                                    class="legendName"
                                  >
                                    Audit
                                  </legend>
                                  <table
                                    class="inline-table_dark_grey"
                                    style="
                                      width: 100%;
                                      white-space: nowrap;
                                      height: 50px;
                                    "
                                  >
                                    <tbody>
                                      <th></th>
                                      <tr style="color: black">
                                        <td
                                          align="left"
                                          style="
                                            vertical-align: middle;
                                            width: 15%;
                                          "
                                        >
                                          <div class="inline-table_dark_grey">
                                            Search Type
                                          </div>
                                        </td>
                                        <td
                                          align="left"
                                          style="
                                            vertical-align: top;
                                            width: 85%;
                                          "
                                        >
                                          <input
                                            type="radio"
                                            name="searchType"
                                            value="A"
                                            [(ngModel)]="selectedOption"
                                          />AUDITED
                                          <input
                                            type="radio"
                                            name="searchType"
                                            value="U"
                                            [(ngModel)]="selectedOption"
                                          />UNAUDITED
                                          <input
                                            type="radio"
                                            name="searchType"
                                            value="B"
                                            checked="checked"
                                            [(ngModel)]="selectedOption"
                                          />BOTH
                                        </td>
                                      </tr>
                                      <tr>
                                        <td
                                          align="left"
                                          style="
                                            vertical-align: top;
                                            width: 15%;
                                          "
                                        >
                                          &nbsp;
                                        </td>
                                        <td
                                          class="inline-table_dark_grey"
                                          style="width: 65%"
                                        ></td>
                                      </tr>
                                    </tbody>
                                  </table>

                                  <div
                                    id="auditDateRangeDiv"
                                    *ngIf="selectedOption === 'A'"
                                  >
                                    <table
                                      class="inline-table_dark_grey"
                                      style="width: 100%"
                                    >
                                      <tbody>
                                        <th></th>
                                        <tr>
                                          <td
                                            align="left"
                                            style="
                                              vertical-align: top;
                                              width: 100%;
                                            "
                                          >
                                            <table style="width: 100%">
                                              <tbody>
                                                <th></th>
                                                <tr class="eds-pagerstyle">
                                                  <td
                                                    class="inline-table_dark_grey"
                                                    style="width: 35%"
                                                  >
                                                    Audit Date Range
                                                  </td>
                                                  <td
                                                    class="inline-table_dark_grey"
                                                    style="width: 65%"
                                                  >
                                                    <input
                                                      type="text"
                                                      name="auditDateStart"
                                                      class=""
                                                      id="auditDateStartId"
                                                      value=""
                                                      size="10"
                                                      maxlength="10"
                                                      autocomplete="off"
                                                      [(ngModel)]="
                                                        auditDateStart"
                                                    />

                                                    <span
                                                      ><img
                                                        onmouseover="this.style.cursor='hand'"
                                                        id="auditDateStartId_date"
                                                        align="ABSMIDDLE"
                                                        src="assets/images/calendar.gif"
                                                        (click)="
                                                          calendar1.overlayVisible =
                                                            !calendar1.overlayVisible;
                                                          calendar1.inputfieldViewChild?.nativeElement.click()
                                                        "
                                                        alt=""
                                                        onkeydown=""
                                                        onfocus=""
                                                    /></span>
                                                    <p-calendar
                                                      name="calendarDate"
                                                      #calendar1
                                                      [(ngModel)]="
                                                        auditDateStart
                                                      "
                                                      [showIcon]="false"
                                                      [showOnFocus]="false"
                                                      class="hidden-calendar"
                                                      (onSelect)="formatDate1($event)"
                                                    ></p-calendar>

                                                    -
                                                    <input
                                                      type="text"
                                                      name="auditDateEnd"
                                                      class=""
                                                      id="auditDateEndId"
                                                      value=""
                                                      size="10"
                                                      maxlength="10"
                                                      autocomplete="off"
                                                      [(ngModel)]="
                                                        auditDateEnd"
                                                    />

                                                    <span
                                                      ><img
                                                        onmouseover="this.style.cursor='hand'"
                                                        id="auditDateEndId_date"
                                                        align="ABSMIDDLE"
                                                        src="assets/images/calendar.gif"
                                                        (click)="
                                                          calendar2.overlayVisible =
                                                            !calendar2.overlayVisible;
                                                          calendar2.inputfieldViewChild?.nativeElement.click()
                                                        "
                                                        alt=""
                                                        onkeydown=""
                                                        onfocus=""
                                                    /></span>
                                                    <p-calendar
                                                      name="calendarDate"
                                                      #calendar2
                                                      [(ngModel)]="
                                                        auditDateEnd
                                                      "
                                                      [showIcon]="false"
                                                      [showOnFocus]="false"
                                                      class="hidden-calendar"
                                                      (onSelect)="formatDate2($event)"
                                                    ></p-calendar>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                  <div
                                    id="unauditedSectionDiv"
                                    *ngIf="selectedOption === 'U'"
                                  >
                                    <table
                                      class="inline-table_dark_grey"
                                      style="width: 100%"
                                    >
                                      <tbody>
                                        <th></th>
                                        <tr>
                                          <td
                                            align="left"
                                            style="
                                              vertical-align: top;
                                              width: 100%;
                                            "
                                          >
                                            <table style="width: 100%">
                                              <tbody>
                                                <th></th>
                                                <tr class="eds-pagerstyle-alt">
                                                  <td
                                                    class="inline-table_dark_grey"
                                                    style="width: 35%"
                                                  >
                                                    Audit Date Range
                                                  </td>
                                                  <td
                                                    class="inline-table_dark_grey"
                                                    style="width: 65%"
                                                  >
                                                    <input
                                                      type="text"
                                                      name="unauditedDateStart"
                                                      class=""
                                                      id="unauditedDateStartId"
                                                      value=""
                                                      size="10"
                                                      maxlength="10"
                                                      autocomplete="off"
                                                      [(ngModel)]="
                                                        unauditedDateStart
                                                      "
                                                    />

                                                    <span
                                                      ><img
                                                        onmouseover="this.style.cursor='hand'"
                                                        id="unauditedDateStartId_date"
                                                        align="ABSMIDDLE"
                                                        src="assets/images/calendar.gif"
                                                        (click)="
                                                          calendar3.overlayVisible =
                                                            !calendar3.overlayVisible;
                                                          calendar3.inputfieldViewChild?.nativeElement.click()
                                                        "
                                                        alt=""
                                                        onkeydown=""
                                                        onfocus=""
                                                    /></span>
                                                    <p-calendar
                                                      name="calendarDate"
                                                      #calendar3
                                                      [(ngModel)]="
                                                        unauditedDateStart
                                                      "
                                                      [showIcon]="false"
                                                      [showOnFocus]="false"
                                                      class="hidden-calendar"
                                                      (onSelect)="formatDate3($event)"
                                                    ></p-calendar>

                                                    -

                                                    <input
                                                      type="text"
                                                      name="unauditedDateEnd"
                                                      class=""
                                                      id="unauditedDateEndId"
                                                      value=""
                                                      size="10"
                                                      maxlength="10"
                                                      autocomplete="off"
                                                      [(ngModel)]="
                                                        unauditedDateEnd
                                                      "
                                                    />

                                                    <span
                                                      ><img
                                                        onmouseover="this.style.cursor='hand'"
                                                        id="unauditedDateEndId_date"
                                                        align="ABSMIDDLE"
                                                        src="assets/images/calendar.gif"
                                                        (click)="
                                                          calendar4.overlayVisible =
                                                            !calendar4.overlayVisible;
                                                          calendar4.inputfieldViewChild?.nativeElement.click()
                                                        "
                                                        alt=""
                                                        onkeydown=""
                                                        onfocus=""
                                                    /></span>
                                                    <p-calendar
                                                      name="calendarDate"
                                                      #calendar4
                                                      [(ngModel)]="
                                                        unauditedDateEnd
                                                      "
                                                      [showIcon]="false"
                                                      [showOnFocus]="false"
                                                      class="hidden-calendar"
                                                      (onSelect)="formatDate4($event)"
                                                    ></p-calendar>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                  <div
                                    id="auditCommonCriteriaDiv"
                                    *ngIf="selectedOption === 'A'"
                                  >
                                    <table
                                      class="inline-table_dark_grey"
                                      style="width: 100%"
                                    >
                                      <tbody>
                                        <th></th>
                                        <tr>
                                          <td
                                            align="right"
                                            style="
                                              vertical-align: top;
                                              width: 100%;
                                            "
                                          >
                                            <table style="width: 100%">
                                              <tbody>
                                                <th></th>
                                                <tr class="eds-pagerstyle">
                                                  <td
                                                    style="width: 35%"
                                                    class="inline-table_dark_grey"
                                                  >
                                                    Vendor Revision #
                                                  </td>

                                                  <td
                                                    style="width: 65%"
                                                    class="inline-table_dark_grey"
                                                  >
                                                    <input
                                                      type="text"
                                                      name="currentVendorRevision"
                                                      class=""
                                                      id="currentVendorRevisionId"
                                                      value=""
                                                      size="35"
                                                      maxlength="40"
                                                      [(ngModel)]="currentVendorRevision"
                                                    />
                                                  </td>
                                                </tr>

                                                <tr class="eds-pagerstyle-alt">
                                                  <td
                                                    class="inline-table_dark_grey"
                                                  >
                                                    Revision Date Range
                                                  </td>
                                                  <td
                                                    class="inline-table_dark_grey"
                                                  >
                                                    <input
                                                      type="text"
                                                      name="currentVendorRevisionDateStart"
                                                      class=""
                                                      id="currentVendorRevisionDateStartId"
                                                      value=""
                                                      size="10"
                                                      maxlength="10"
                                                      autocomplete="off"
                                                      [(ngModel)]="
                                                          currentVendorRevisionDateStart
                                                      "
                                                    />

                                                    <span
                                                      ><img
                                                        onmouseover="this.style.cursor='hand'"
                                                        id="currentVendorRevisionDateStartId_date"
                                                        align="ABSMIDDLE"
                                                        src="assets/images/calendar.gif"
                                                        (click)="
                                                          calendar5.overlayVisible =
                                                            !calendar5.overlayVisible;
                                                          calendar5.inputfieldViewChild?.nativeElement.click()
                                                        "
                                                        alt=""
                                                        onkeydown=""
                                                        onfocus=""
                                                    /></span>
                                                    <p-calendar
                                                      name="calendarDate"
                                                      #calendar5
                                                      [(ngModel)]="
                                                        currentVendorRevisionDateStart
                                                      "
                                                      [showIcon]="false"
                                                      [showOnFocus]="false"
                                                      class="hidden-calendar"
                                                      (onSelect)="formatDate5($event)"
                                                    ></p-calendar>

                                                    -
                                                    <input
                                                      type="text"
                                                      name="currentVendorRevisionDateEnd"
                                                      class=""
                                                      id="currentVendorRevisionDateEndId"
                                                      value=""
                                                      size="10"
                                                      maxlength="10"
                                                      autocomplete="off"
                                                      [(ngModel)]="
                                                          currentVendorRevisionDateEnd
                                                      "
                                                    />

                                                    <span
                                                      ><img
                                                        onmouseover="this.style.cursor='hand'"
                                                        id="currentVendorRevisionDateEndId_date"
                                                        align="ABSMIDDLE"
                                                        src="assets/images/calendar.gif"
                                                        (click)="
                                                          calendar6.overlayVisible =
                                                            !calendar6.overlayVisible;
                                                          calendar6.inputfieldViewChild?.nativeElement.click()
                                                        "
                                                        alt=""
                                                        onkeydown=""
                                                        onfocus=""
                                                    /></span>
                                                    <p-calendar
                                                      name="calendarDate"
                                                      #calendar6
                                                      [(ngModel)]="
                                                          currentVendorRevisionDateEnd
                                                      "
                                                      [showIcon]="false"
                                                      [showOnFocus]="false"
                                                      class="hidden-calendar"
                                                      (onSelect)="formatDate6($event)"
                                                    ></p-calendar>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>

                                    <table
                                      class="inline-table_dark_grey"
                                      style="width: 100%"
                                    >
                                      <tbody>
                                        <th></th>
                                        <tr>
                                          <td
                                            style="
                                              vertical-align: top;
                                              width: 50%;
                                            "
                                          >
                                            <table style="width: 100%">
                                              <tbody>
                                                <th></th>
                                                <tr
                                                  class="eds-pagerstyle inline-table_dark_grey"
                                                >
                                                  <td align="right">
                                                    Audit Category&nbsp; &nbsp;
                                                  </td>
                                                  <td align="left">
                                                    <select
                                                      name="auditCategory"
                                                      class=""
                                                      id="auditCategoryId"
                                                      multiple="multiple"
                                                      [(ngModel)]="auditCategory"
                                                    >
                                                      <option value="A">
                                                        A
                                                      </option>

                                                      <option value="B">
                                                        B
                                                      </option>

                                                      <option value="C">
                                                        C
                                                      </option>

                                                      <option value="X">
                                                        X
                                                      </option>
                                                    </select>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>

                                          <td
                                            style="
                                              vertical-align: top;
                                              width: 50%;
                                            "
                                          >
                                            <table style="width: 100%">
                                              <tbody>
                                                <th></th>
                                                <tr>
                                                  <td></td>
                                                  <td
                                                    style="
                                                      vertical-align: top;
                                                      width: 50%;
                                                    "
                                                  ></td>
                                                </tr>
                                                <tr
                                                  class="eds-pagerstyle-alt dropdown inline-table_dark_grey"
                                                >
                                                  <td align="right">
                                                    Audit Status&nbsp; &nbsp;
                                                  </td>
                                                  <td align="left">
                                                    <select
                                                      name="auditStatus"
                                                      class=""
                                                      id="auditStatusId"
                                                      [(ngModel)]="auditStatus"
                                                    >
                                                      <option value=""></option>
                                                      <option value="noStatus">
                                                        [No Status]
                                                      </option>

                                                      <option value="NO AUDIT">
                                                        NO AUDIT
                                                      </option>

                                                      <option value="OK">
                                                        OK
                                                      </option>

                                                      <option value="PENDING">
                                                        PENDING
                                                      </option>
                                                    </select>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </fieldset>

                                <table style="width: 100%">
                                  <tbody>
                                    <th></th>
                                    <tr class="eds-pagerstyle blueColSpan">
                                      <td colspan="2" style="width: 100%">
                                        <span style="float: right">
                                          <input type="submit" value="Search" />
                                        </span>
                                        <span style="float: right">
                                          <input type="button" value="Clear" (click)="clear()" />
                                        </span>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</div>

<div class="loader-container" *ngIf="loading">
  <div class="loader"></div>
  <p>Loading data, please wait...</p>
</div>
<td valign="top" align="left" *ngIf="data">
  <br />
  <div class="pagination-container" *ngIf="data.length > 0 && totalCount > 15">
    <span class="pagebanner"
      >{{ totalCount | number }} items found, displaying {{ start + 1 }} to
      {{ start + recordsPerPage }}.</span
    >
    <br>
    <a
      class="pagination-link"
      (click)="goToFirst()"
      [class.disabled]="currentPage === 1"
      >[First</a
    >
    /
    <a
      class="pagination-link"
      (click)="goToPrevious()"
      [class.disabled]="currentPage === 1"
      >Prev]</a
    >
    /

    <!-- Page Numbers -->
    <a
      *ngFor="let page of getVisiblePages(); let i = index; let last=last"
      class="pagination-link"
      (click)="goToPage(page)"
      [class.active]="currentPage === page"
    >
      {{ page }}{{ last ? '' : ',' }}
    </a>
    /

    <!-- Next/Last Buttons -->
    <a
      class="pagination-link"
      (click)="goToNext()"
      [class.disabled]="currentPage === totalPages"
      >[Next</a
    >
    /
    <a
      class="pagination-link"
      (click)="goToLast()"
      [class.disabled]="currentPage === totalPages"
      >Last]</a
    >
  </div>
  <span *ngIf="data.length > 0 && totalCount < 16"> {{getWords()}} </span>
  <span *ngIf="data.length === 0">No documents matched the search criteria.</span>
  <table class="inline-table" id="result">
    <!-- <thead>
      <tr>
        <th *ngFor="let header of headers">{{ header }}</th>
        <th *ngIf="headers.length > 0">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr class="odd" *ngFor="let row of data">
        <td *ngFor="let header of headers">{{ header !== 'auditYears' && header !== 'thisYearAudit' ? row[header] : getYears(row,header) }}</td>
        <td>
          <a
            routerLink="/viewStatus"
            (click)="viewClick(row.documentId, row.vendorName, row.subject)"
            >View Document</a
          >
        </td>
      </tr>
    </tbody> -->
    <tbody *ngIf="data.length > 0">
      <tr>
        <th>Vendor</th>
        <th>ATA</th>
        <th>Detail Doc Type</th>
        <th>AA Rev.</th>
        <th>AA Rev Dt</th>
        <th>VND Rev.</th>
        <th>Vndr Rev Dt</th>
        <th>ESO #</th>       
        <th *ngFor="let year of auditYears">{{year}} Audit(Category)</th>
        <th>VND Website</th>
        <th>Follow-up Dt.</th>
        <th>Notes</th>
        <th>Action</th>
      </tr>

      <tr
        *ngFor="let row of data; let i = index"
        [ngClass]="i % 2 == 0 ? 'eds-pagerstyle' : 'eds-pagerstyle-alt'"
      >
        <td>{{ row.vendorName }}</td>
        <td>{{ row.ata }}</td>
        <td>{{ row.detailDocType }}</td>
        <td>{{ row.aaRevision }}</td>
        <td>{{ row.aaRevisionDt | date:'yyyy-MM-dd'}}</td>
        <td>{{ row.vendorRevision }}</td>
        <td>{{ row.vendorRevisionDt | date:'yyyy-MM-dd'}}</td>
        <td>{{ row.eso }}</td>
        <td *ngFor="let year of getYears(row); let colIndex=index"><a routerLink="/viewAudit" (click)="viewAudit(row, colIndex)">{{ year | date:'YYYY-MM-dd'}}</a> {{ year && row.dodAuditCatgory ? '('+row.dodAuditCatgory+')':''}}</td>
        <td>{{ row.vendorWebsite }}</td>
        <td>{{ row.followupDateForDisplay }}</td>
        <td>{{ row.notes }}</td>

        <td>
          <a
            routerLink="/viewStatus"
            (click)="viewClick(row.documentId, row.vendorName, row.subject)"
            >View Document</a
          >
        </td>
      </tr>
    </tbody>
  </table>
  <br />
  <a *ngIf="data.length > 0" style="cursor: pointer;" (click)="downloadExcel()">Download XLS</a>
  <div class="loader-container1" *ngIf="loadingDownload">
    <div class="loader1"></div>
    <p>Downloading data, please wait...</p>
  </div>
  <br /><span *ngIf="data.length > 0">(Please note: Depending on the size, this operation might take several
  minutes)</span>
</td>
