<!-- our changes -->
<div>
  <div class="plane-top">
    <img src="assets/images/plane-top.gif" alt="Plane Top" />
  </div>
  <div class="container">
    <img
      class="plane-bottom"
      src="assets/images/plane-bottom.gif"
      alt="Plane Bottom"
    />
    <h1 style="font-weight: bold; position: relative; left: 23%">
      Vendor Data Tracking (VDT)
    </h1>
    <img
      class="plane-engines"
      src="assets/images/engines.jpg"
      alt="Plane Engines"
    />
  </div>
  <div class="loggedArea">
    <div class="loginTitle">
      Logged In :
      <span> 860367 </span>
      <div class="manualArea">
        <a href="#">User's Manual</a>
        <span style="margin-left: 5px">
          <a href="/vdt/LogOut.html">Log Out</a>
        </span>
      </div>
    </div>
    <div style="text-align: right">Current Build: 10-01-202020 03:49</div>
  </div>
</div>
