.container {
  display: flex;
  align-items: center;
  position: relative;
  min-width: 100%;
  /* left: 9%; */
}

.plane-bottom {
  margin-right: auto;
  margin-top: -26px;
  left: 0;
  position: absolute;
  /* margin-left: -82px; */
  /* position: fixed; */
}

.plane-engines {
  margin-left: auto;
  position: absolute;
  right: 0;
  height: 100%;
  /* position: fixed; */
  /* margin-right: -82px; */
  /* margin-top: -6px; */
}

.plane-top {
  background-image: url(../../../assets/images/clouds-banner.gif);
  background-repeat: no-repeat;
  background-color: #00007c;
}

.loggedArea {
  color: #ffffff;
  background-color: #00007c;
}

.loginTitle {
  display: flex;
  font-weight: bold;
}
.manualArea {
  margin-left: auto;
}

.manualArea a {
  color: #ffffff;
  font-weight: bold;
  font-family: Arial;
  text-decoration: none;
}
