<div class="loader-container" *ngIf="loading">
  <div class="loader"></div>
  <p>Loading data, please wait...</p>
</div>
<tbody *ngIf="!loading" >
  <div *ngIf="detailDeleted" class="savedDoc">SUCCESS: Successfully deleted Detail.</div>
  <div *ngIf="docAdded" class="savedDoc">SUCCESS: Document saved successfully.</div>
  <div *ngIf="docMoved" class="savedDoc">SUCCESS: Document moved successfully.</div>
  <a *ngIf="!docAdded && searchType ==='search'" style="font-weight: bolder" routerLink="/search">Back To Search Results</a>
  <a *ngIf="!docAdded && searchType ==='audit'" style="font-weight: bolder" routerLink="/search-audits">Back To Search Results</a>
  <a *ngIf="!docAdded && searchType ==='route' " style="font-weight: bolder" routerLink="/search-routes">Back To Search Results</a>
  <tr>
    <td valign="top" align="left">
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tbody>
          <tr>
            <td align="left">
              <!-- CONTENT -->

              <br />
              <br />

              <div class="documentContainer">
                <div style="float: left">
                  <table cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                      <tr>
                        <td>
                          <table
                            class="eds-tabheader"
                            cellspacing="0"
                            cellpadding="0"
                            border="0"
                          >
                            <tbody>
                              <tr>
                                <td class="eds-tabtopleftcorner"></td>
                                <td class="eds-tabtopmiddle" align="center">
                                  <div class="eds-tabtitle">View Document</div>
                                </td>
                                <td class="eds-tabtoprightcorner"></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td class="eds-tabtoprightcorner"></td>
                      </tr>
                      <tr>
                        <td>
                          <table
                            cellspacing="0"
                            cellpadding="0"
                            width="100%"
                            border="0"
                            class="eds-tabtitle"
                          >
                            <tbody>
                              <tr>
                                <td>
                                  <form
                                    name="DocumentForm"
                                    id="documentFormId"
                                    method="post"
                                    action="/vdt/SetUpAddEditDocument.html"
                                    onsubmit="submitForm();"
                                  >
                                    <input
                                      type="hidden"
                                      name="submitType"
                                      value="view"
                                    />
                                    <input
                                      type="hidden"
                                      name="document.documentNbr"
                                      value="28889752"
                                    />
                                    <table width="100%">
                                      <tbody>
                                        <tr style="height: 1px">
                                          <td width="200"></td>
                                          <td width="250"></td>
                                        </tr>

                                        <tr class="eds-pagerstyle readonly">
                                          <td align="right">
                                            VDT System ID No.&nbsp; &nbsp;
                                          </td>
                                          <td align="left">
                                            <span class="viewFieldText">{{
                                              documentsDetails.document?.documentNbr
                                            }}</span>
                                          </td>
                                        </tr>

                                        <tr
                                          class="eds-pagerstyle-alt eds-field-required"
                                        >
                                          <td align="right">
                                            Creation Date *&nbsp; &nbsp;
                                          </td>
                                          <td align="left">
                                            <span class="viewFieldText">{{
                                              documentsDetails.document
                                                ?.creationDate
                                                | date : 'MM/dd/yyyy'
                                            }}</span>
                                          </td>
                                        </tr>

                                        <tr
                                          class="eds-pagerstyle eds-field-required"
                                        >
                                          <td align="right">
                                            Vendor Name *&nbsp; &nbsp;
                                          </td>
                                          <td align="left">
                                            <span class="viewFieldText"
                                              >{{
                                                documentsDetails.document?.vendor
                                                  .vendorNm
                                              }}
                                            </span>
                                          </td>
                                        </tr>

                                        <!-- <tr class="eds-pagerstyle">
                                          <td
                                            id="vendorContainerId"
                                            colspan="2"
                                          >
                                            <table width="100%">
                                              <tbody> -->
                                                <!-- <tr style="height: 1px">
                                                  <td width="200"></td>
                                                  <td width="250"></td>
                                                </tr> -->

                                                <tr class="eds-pagerstyle-alt">
                                                  <td align="right">
                                                    Vendor Website&nbsp; &nbsp;
                                                  </td>
                                                  <td align="left">
                                                    <span class="viewFieldText"
                                                      >{{
                                                        documentsDetails
                                                          .document?.vendor
                                                          .vendorWebsite
                                                      }}
                                                    </span>
                                                  </td>
                                                </tr>

                                                <tr
                                                  class="eds-pagerstyle"
                                                >
                                                  <td align="right">
                                                    Vendor Contact Person&nbsp;
                                                    &nbsp;
                                                  </td>
                                                  <td align="left">
                                                    <span
                                                      class="viewFieldText"
                                                      >{{
                                                        documentsDetails
                                                          .document?.vendor
                                                          .contactPerson
                                                      }}</span
                                                    >
                                                  </td>
                                                </tr>

                                                <tr class="eds-pagerstyle-alt">
                                                  <td align="right">
                                                    Vendor Contact Phone&nbsp;
                                                    &nbsp;
                                                  </td>
                                                  <td align="left">
                                                    <span
                                                      class="viewFieldText"
                                                      >{{
                                                        documentsDetails
                                                          .document?.vendor
                                                          .contactPhone
                                                      }}</span
                                                    >
                                                  </td>
                                                </tr>

                                                <tr
                                                  class="eds-pagerstyle"
                                                >
                                                  <td align="right">
                                                    Vendor Email&nbsp; &nbsp;
                                                  </td>
                                                  <td align="left">
                                                    <span
                                                      class="viewFieldText"
                                                      >{{
                                                        documentsDetails
                                                          .document?.vendor
                                                          .vendorEmailAddress
                                                      }}</span
                                                    >
                                                  </td>
                                                </tr>

                                                <tr
                                                  class="eds-pagerstyle-alt"
                                                >
                                                  <td align="right">
                                                    Vendor Remarks&nbsp; &nbsp;
                                                  </td>
                                                  <td align="left">
                                                    <span
                                                      class="viewFieldText"
                                                      >{{
                                                        documentsDetails
                                                          .document?.vendor
                                                          .remarks
                                                      }}</span
                                                    >
                                                  </td>
                                                </tr>
                                              <!-- </tbody>
                                            </table>
                                          </td>
                                        </tr> -->

                                        <tr class="eds-pagerstyle">
                                          <td align="right">
                                            Vendor Document Reference
                                            Number&nbsp; &nbsp;
                                          </td>
                                          <td align="left">
                                            <span class="viewFieldText">{{
                                              documentsDetails.document
                                                ?.vendorDocRefNbr
                                            }}</span>
                                          </td>
                                        </tr>

                                        <tr
                                          class="eds-pagerstyle-alt dropdown"
                                        >
                                          <td align="right">
                                            Category&nbsp; &nbsp;
                                          </td>
                                          <td align="left">
                                            <span class="viewFieldText"
                                              >{{
                                                documentsDetails.document
                                                  ?.documentCategory
                                              }}
                                            </span>
                                          </td>
                                        </tr>

                                        <tr
                                          class="eds-pagerstyle dropdown"
                                        >
                                          <td align="right">
                                            Effectivity&nbsp; &nbsp;
                                          </td>
                                          <td align="left">
                                            <div>
                                              <span class="viewFieldText">{{
                                                documentsDetails.document
                                                  ?.effectivityIds
                                              }}</span>
                                            </div>
                                          </td>
                                        </tr>

                                        <tr
                                          class="eds-pagerstyle-alt dropdown"
                                        >
                                          <td align="right">
                                            Section *&nbsp; &nbsp;
                                          </td>
                                          <td align="left">
                                            <div>
                                              <span class="viewFieldText">{{
                                                documentsDetails.document
                                                  ?.sections
                                              }}</span>
                                            </div>
                                          </td>
                                        </tr>

                                        <tr class="eds-pagerstyle">
                                          <td align="right">
                                            Document Subject&nbsp; &nbsp;
                                          </td>
                                          <td align="left">
                                            <span class="viewFieldText"
                                              >{{
                                                documentsDetails.document
                                                  ?.subject
                                              }}
                                            </span>
                                          </td>
                                        </tr>

                                        <tr class="eds-pagerstyle-alt">
                                          <td align="right">
                                            ATA&nbsp; &nbsp;
                                          </td>
                                          <td align="left">
                                            <span class="viewFieldText">{{
                                              documentsDetails.document?.ata
                                            }}</span>
                                          </td>
                                        </tr>

                                        <tr
                                          class="eds-pagerstyle dropdown"
                                        >
                                          <td align="right">
                                            Next Route&nbsp; &nbsp;
                                          </td>
                                          <td align="left">
                                            <span class="viewFieldText">{{
                                              documentsDetails.document
                                                ?.nextRouteType
                                            }}</span>
                                          </td>
                                        </tr>

                                        <tr class="eds-pagerstyle-alt">
                                          <td align="right">
                                            Reissue Date&nbsp; &nbsp;
                                          </td>
                                          <td align="left">
                                            <span class="viewFieldText">{{
                                              documentsDetails.document
                                                ?.reissueDate
                                            }}</span>
                                          </td>
                                        </tr>

                                        <tr class="eds-pagerstyle">
                                          <td align="right">
                                            Remarks&nbsp; &nbsp;
                                          </td>
                                          <td align="left">
                                            <span class="viewFieldText">{{
                                              documentsDetails.document?.remarks
                                            }}</span>
                                          </td>
                                        </tr>

                                        <!-- ITAR START-->

                                        <tr
                                          class="eds-pagerstyle-alt dropdown"
                                        >
                                          <td align="right">
                                            ITAR&nbsp; &nbsp;
                                          </td>
                                          <td align="left">
                                            <span class="viewFieldText">{{
                                              documentsDetails.document?.itar
                                            }}</span>
                                          </td>
                                        </tr>
                                        <!-- ITAR END -->

                                        <!-- ECCN NUMBER START -->

                                        <tr class="eds-pagerstyle">
                                          <td style="text-align: right">
                                            ECCN Number&nbsp; &nbsp;
                                          </td>
                                          <td>
                                            <div>
                                              <span class="viewFieldText">{{
                                                documentsDetails.document
                                                  ?.eccnNumber
                                              }}</span>
                                            </div>
                                          </td>
                                        </tr>
                                        <!-- ECCN NUMBER END -->

                                        <!-- ECCN LOCATION START -->

                                        <tr class="eds-pagerstyle-alt">
                                          <td style="text-align: right">
                                            ECCN Location&nbsp; &nbsp;
                                          </td>
                                          <td>
                                            <div>
                                              <span class="viewFieldText">{{
                                                documentsDetails.document
                                                  ?.eccnLocation
                                              }}</span>
                                            </div>
                                          </td>
                                        </tr>
                                        <!-- ECCN LOCATION END -->

                                        <tr class="eds-pagerstyle">
                                          <td style="text-align: right">
                                            Auditable Doc Types&nbsp; &nbsp;
                                          </td>
                                          <td>
                                            <div>
                                              <span class="viewFieldText">{{
                                                documentsDetails.document
                                                  ?.auditableDocTypes
                                              }}</span>
                                            </div>
                                          </td>
                                        </tr>

                                        <tr class="eds-pagerstyle-alt">
                                          <td style="text-align: right">
                                            Vendor Part Reference Numbers&nbsp;
                                            &nbsp;
                                          </td>
                                          <td>
                                            <div>
                                              <span class="viewFieldText"
                                              *ngFor="let partNumber of 
                                              documentsDetails.document.
                                              documentPartNumbers">
                                                {{ partNumber }}</span>
                                            </div>
                                          </td>
                                        </tr>

                                        <!-- BUTTONS SECTION -->

                                        <tr
                                          class="eds-pagerstyle-alt blueColSpan"
                                        >
                                          <td colspan="2">
                                            <span style="float: right">
                                              <input
                                                type="submit"
                                                value=" Edit "
                                                (click)="editDoc()"
                                              />
                                            </span>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <input
                                      type="hidden"
                                      name="document.hasChildRecords"
                                      id="document.hasChildRecords"
                                      value="true"
                                    />
                                  </form>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <br />

                  <table cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                      <tr>
                        <td>
                          <table
                            class="openRoutes eds-tabheader"
                            cellspacing="0"
                            cellpadding="0"
                            border="0"
                          >
                            <tbody>
                              <tr>
                                <td class="eds-tabtopleftcorner"></td>
                                <td class="eds-tabtopmiddle" align="center">
                                  <div class="eds-tabtitle">Open Routes</div>
                                </td>
                                <td class="eds-tabtoprightcorner"></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td class="eds-tabtoprightcorner"></td>
                      </tr>
                      <tr>
                        <td>
                          <table
                          cellspacing="0"
                          cellpadding="0"
                          width="100%"
                          border="0"
                          class="eds-tabtitle"
                        >
                          <tbody>
                            <tr>
                              <td>
                                <form
                                  id="createRouteForm"
                                  action="CreateNewRoute.html"
                                  method="post"
                                >
    
                                  <table class="inline-table" id="route">
                                    <thead>
                                      <tr>
                                        <th>Detail #</th>
                                        <th>Section</th>
                                        <th>Route Date</th>
                                        <th>Routing</th>
                                        <th>Disposition</th>
                                        <th>Close Date</th>
                                        <th>Remark</th>
                                        <th>Action</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="
                                            let status of documentsDetails?.mostRecentRouting;
                                            let i = index
                                          "
                                          [ngClass]="
                                            i % 2 == 0
                                              ? 'eds-pagerstyle'
                                              : 'eds-pagerstyle-alt'
                                          ">
                                        <td>{{status.pop}}</td>
                                        <td>{{status.sectionId}}</td>
                                        <td>{{status.routeDate | date:"dd/MM/yyyy"}}</td>
                                        <td>{{status.routeType.routingTypeId}}</td>
                                        <td>{{status.disposition}}</td>
                                        <td>{{status.closedate | date:"dd/MM/yyyy"}}</td>
                                        <td>{{status.remark}}</td>
                                        <td>
                                          <a routerLink="/viewRoute" (click)="viewRoute(status.routeId)"
                                            
                                            >View</a
                                          >
                                          &nbsp;
    
                                          <a
                                          (click)="downloadRouteSlip(status.routeId)"
                                          style="cursor: pointer;"
                                          href="javascript:void(0);"
                                          >Route Slip</a
                                          >
    
                                          <br />
    
                                          <a
                                           routerLink="/viewnewRoutw"
                                           (click)="reIssue()"
                                            >Re-Issue</a
                                          >
                                          &nbsp;
                                          <a 
                                          routerLink="/viewRoute"
                                          (click)="closed(status.routeId)"
                                           >Close</a
                                         >
                                          <!-- <a routerLink="/viewStatus">Back to Document</a> -->
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
    
                                </form>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <br />

                  <table cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                      <tr>
                        <td>
                          <table
                            class="eds-tabheader"
                            cellspacing="0"
                            cellpadding="0"
                            border="0"
                          >
                            <tbody>
                              <tr>
                                <td class="eds-tabtopleftcorner"></td>
                                <td class="eds-tabtopmiddle" align="center">
                                  <div class="eds-tabtitle">Details</div>
                                </td>
                                <td class="eds-tabtoprightcorner"></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td class="eds-tabtoprightcorner"></td>
                      </tr>
                      <tr>
                        <td>
                          <table
                            cellspacing="0"
                            cellpadding="0"
                            width="100%"
                            border="0"
                            class="eds-tabtitle"
                          >
                            <tbody>
                              <tr>
                                <td>
                                  <form
                                    id="createDetailForm"
                                    action="CreateNewDetail.html"
                                    method="post"
                                  >
                                    <input
                                      type="hidden"
                                      value="28889752"
                                      name="documentNbr"
                                    />

                                    <table class="inline-table" id="detail">
                                      <thead>
                                        <tr>
                                          <th>Detail #</th>
                                          <th>Detail Doc Type</th>
                                          <th>Doc Type</th>
                                          <th>AA Revision Nbr</th>
                                          <th>Detail Subject Desc</th>
                                          <th>AA Rev Dt</th>
                                          <th>Bin</th>
                                          <th>Remark</th>
                                          <th>Action</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr *ngFor="
                                        let status of documentsDetails?.detail?.simpleDetailPop?.pops;
                                        let i = index
                                      "
                                      [ngClass]="
                                        i % 2 == 0
                                          ? 'eds-pagerstyle'
                                          : 'eds-pagerstyle-alt'
                                      ">
                                          <td>{{status.popRefNbr}}</td>
                                          <td>{{status.detailDocType}}</td>
                                          <td>{{status.doctype}}</td>
                                          <td>{{status.revisionNbr}}</td>
                                          <td>{{status.detailSubjectDesc}}</td>
                                          <td>{{status.manualdate | date:"MM/dd/yyyy"}}</td>
                                          <td>{{status.bin}}</td>
                                          <td>{{status.remark}}</td>
                                          <td>
                                            <a routerLink="/viewDetail" (click)="viewDetail(status.popno, status.popRefNbr)"
                                              >View</a
                                            >
                                          </td>
                                        </tr>
                                        <!-- <tr id="detail202401180" class="odd" *ngIf="documentsDetails.length !==0 && documentsDetails.detail?.simpleDetailPop?.pops.le !== 0">
                                          <td>
                                            {{documentsDetails.documentLatestAudit[0].popDetails?.popRefNbr}}
                                          </td>
                                          <td>
                                            {{
                                              documentsDetails
                                                .documentLatestAudit[0]
                                                .popDetails?.detailDocType
                                            }}
                                          </td>
                                          <td>
                                            {{
                                              documentsDetails
                                                .documentLatestAudit[0]
                                                .popDetails?.docType
                                            }}
                                          </td>
                                          <td>
                                            {{
                                              documentsDetails
                                                .documentLatestAudit[0]
                                                .popDetails?.revisionNbr
                                            }}
                                          </td>
                                          <td>
                                            {{
                                              documentsDetails
                                                .documentLatestAudit[0]
                                                .popDetails?.detailSubjectDesc
                                            }}
                                          </td>
                                          <td>
                                            {{
                                              documentsDetails
                                                .documentLatestAudit[0]
                                                .popDetails?.manualdate
                                                | date : "dd/MM/yyyy"
                                            }}
                                          </td>
                                          <td>
                                            {{
                                              documentsDetails
                                                .documentLatestAudit[0]
                                                .popDetails?.bin
                                            }}
                                          </td>
                                          <td>
                                            {{
                                              documentsDetails
                                                .documentLatestAudit[0]
                                                .popDetails?.remark
                                            }}
                                          </td>
                                          <td>
                                            <a
                                              >View</a
                                            >
                                          </td>
                                        </tr> -->
                                      </tbody>
                                    </table>

                                    <span style="float: right">
                                      <input type="submit" routerLink="/newDetail" value="New Detail" />
                                    </span>
                                  </form>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <br />

                  <table cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                      <tr>
                        <td>
                          <table
                            class="eds-tabheader"
                            cellspacing="0"
                            cellpadding="0"
                            border="0"
                          >
                            <tbody>
                              <tr>
                                <td class="eds-tabtopleftcorner"></td>
                                <td class="eds-tabtopmiddle" align="center">
                                  <div class="eds-tabtitle">
                                    Audit Information
                                  </div>
                                </td>
                                <td class="eds-tabtoprightcorner"></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td class="eds-tabtoprightcorner"></td>
                      </tr>
                      <tr>
                        <td>
                          <table                         
                            cellspacing="0"
                            cellpadding="0"
                            width="100%"
                            border="0"
                            class="eds-tabtitle"
                          >
                            <tbody>
                              <tr>
                                <td>
                                  <div style="width: 400">
                                    <table class="inline-table" id="audit"                                   >
                                      <thead *ngIf="documentsDetails.length !==0 && documentsDetails.documentLatestAudit.length !== 0">
                                        <tr>
                                          <th class="sorted order1">
                                            Audit Date
                                          </th>
                                          <th>Audit Category</th>
                                          <th>Detail Doc Type</th>
                                          <th>VND Rev Nbr</th>
                                          <th>Vndr Rev Dt</th>
                                          <th>Action</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr class="odd" *ngIf="documentsDetails.length !==0 && documentsDetails.documentLatestAudit.length !== 0">
                                          <td>
                                            {{
                                              documentsDetails
                                                .documentLatestAudit[0]
                                                .auditDate | date : "MM/dd/yyyy"
                                            }}
                                          </td>
                                          <td>
                                            {{
                                              documentsDetails
                                                .documentLatestAudit[0]
                                                .dodAuditCategory
                                            }}
                                          </td>
                                          <td>
                                            {{
                                              documentsDetails
                                                .documentLatestAudit[0]
                                                .detailDocType
                                            }}
                                          </td>
                                          <td>
                                            {{
                                              documentsDetails
                                                .documentLatestAudit[0]
                                                .revisionNbr
                                            }}
                                          </td>
                                          <td>
                                            {{
                                              documentsDetails
                                                .documentLatestAudit[0]
                                                .revisionDate
                                                | date : "MM/dd/yyyy"
                                            }}
                                          </td>
                                          <td>
                                            <a
                                              routerLink="/viewAudit"
                                              (click)="
                                                viewClick(
                                                  documentsDetails
                                                    .documentLatestAudit[0]
                                                    .auditId
                                                )
                                              "
                                              >View</a
                                            >

                                            &nbsp;
                                            <a routerLink="/editAudit"
                                            (click)="
                                              editAudit(
                                                documentsDetails
                                                  .documentLatestAudit[0]
                                                  .auditId
                                              )
                                            "
                                              >Edit</a
                                            >
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>

                                    <a routerLink="/viewAllAudits"
                                      >View All Audits</a
                                    >

                                    <form
                                      id="createAuditForm"
                                    >
                                      <input
                                        type="hidden"
                                        value="28889752"
                                        name="audit.documentNbr"
                                      />

                                      <span style="float: right">
                                        <input
                                          type="submit"
                                          value="New Audit"
                                          routerLink="/newAudit"
                                        />
                                      </span>
                                    </form>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div style="float: left; margin-left: 5px">
                  <table width="98%">
                    <tbody>
                      <tr>
                        <td width="40%" valign="top">
                          <table cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                              <tr>
                                <td>
                                  <table
                                    class="eds-tabheader"
                                    cellspacing="0"
                                    cellpadding="0"
                                    border="0"
                                  >
                                    <tbody>
                                      <tr>
                                        <td class="eds-tabtopleftcorner"></td>
                                        <td
                                          class="eds-tabtopmiddle"
                                          align="center"
                                        >
                                          <div class="eds-tabtitle">ESO</div>
                                        </td>
                                        <td class="eds-tabtoprightcorner"></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td class="eds-tabtoprightcorner"></td>
                              </tr>
                              <tr>
                                <td>
                                  <table
                                    cellspacing="0"
                                    cellpadding="0"
                                    width="100%"
                                    border="0"
                                    class="eds-tabtitle"
                                  >
                                    <tbody>
                                      <tr>
                                        <td>
                                          <table class="inline-table" id="eso">
                                            <thead *ngIf="documentsDetails">
                                              <tr >
                                                <th>ESO #</th>
                                                <th>Assign Date</th>
                                                <th>Subject</th>
                                                <th>Action</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr *ngFor="
                                              let status of documentsDetails.documentEsos;
                                              let i = index
                                            "
                                            [ngClass]="
                                              i % 2 == 0
                                                ? 'eds-pagerstyle'
                                                : 'eds-pagerstyle-alt'
                                            ">
                                                <td>{{status.esoForDisplay}}</td>
                                                <td>{{status.assigndate | date:"MM/dd/yyyy"}}</td>
                                                <td>{{status.subject}}</td>
                                                <td>
                                                  <a routerLink="/view-eso"
                                                    (click)="viewEso(status.eso)">View</a
                                                  >
                                                </td>
                                              </tr>

                                            </tbody>
                                          </table>
                                          <br /><br />
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td width="40%" valign="top">
                          <table cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                              <tr>
                                <td>
                                  <table
                                    class="eds-tabheader"
                                    cellspacing="0"
                                    cellpadding="0"
                                    border="0"
                                  >
                                    <tbody>
                                      <tr>
                                        <td class="eds-tabtopleftcorner"></td>
                                        <td
                                          class="eds-tabtopmiddle"
                                          align="center"
                                        >
                                          <div class="eds-tabtitle">ECO</div>
                                        </td>
                                        <td class="eds-tabtoprightcorner"></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td class="eds-tabtoprightcorner"></td>
                              </tr>
                              <tr>
                                <td>
                                  <table
                                    cellspacing="0"
                                    cellpadding="0"
                                    width="100%"
                                    border="0"
                                    class="eds-tabtitle"
                                  >
                                    <tbody>
                                      <tr>
                                        <td>
                                          <font color="#ffffff"
                                            ><b
                                              >Nothing found to display</b
                                            ></font
                                          ><br /><br />
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td width="40%" valign="top">
                          <table cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                              <tr>
                                <td>
                                  <table
                                    class="formerVendor eds-tabheader"
                                    cellspacing="0"
                                    cellpadding="0"
                                    border="0"
                                  >
                                    <tbody>
                                      <tr>
                                        <td class="eds-tabtopleftcorner"></td>
                                        <td
                                          class="eds-tabtopmiddle"
                                          align="center"
                                        >
                                          <div class="eds-tabtitle">
                                            Former Vendors
                                          </div>
                                        </td>
                                        <td class="eds-tabtoprightcorner"></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td class="eds-tabtoprightcorner"></td>
                              </tr>
                              <tr>
                                <td>
                                  <table
                                    cellspacing="0"
                                    cellpadding="0"
                                    width="100%"
                                    border="0"
                                    class="eds-tabtitle"
                                  >
                                    <tbody>
                                      <tr>
                                        <td>
                                          <form
                                            id="createSupercedVendorForm"
                                            action="CreateSupercededVendor.html"
                                            method="post"
                                          >
                                            <input
                                              type="hidden"
                                              value="28877680"
                                              name="document.documentNbr"
                                            />

                                            <table
                                              class="inline-table"
                                              id="formerVendor"
                                            >
                                              <thead>
                                                <tr>
                                                  <th>Former Vendor</th>
                                                  <th>Superseded Date</th>
                                                  <th>Action</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <tr *ngFor="
                                                let status of documentsDetails.formerVendors;
                                                let i = index
                                              "
                                              [ngClass]="
                                                i % 2 == 0
                                                  ? 'eds-pagerstyle'
                                                  : 'eds-pagerstyle-alt'
                                              ">
                                                  <td>{{status.id.vendor.vendorNm}}</td>
                                                  <td>{{status.id.supercededDt | date:"MM/dd/yyyy"}}</td>
                                                  <td>
                                                    <a href="javascript:void(0)" (click)="deleteFormerVendor()">Delete</a
                                                    >
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>

                                            <span style="float: right">
                                              <input
                                                type="button"
                                                value="Add Former Vendor"
                                                routerLink="/addFormerVendor"
                                              />
                                            </span>
                                          </form>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</tbody>
