<div>
<td valign="top" align="left">
  <table border="0" cellspacing="0" cellpadding="0" width="100%">
    <tbody>
      <tr>
        <td
          id="errorMsg"
          class="eds-messageframe"
          style="display: none"
          align="left"
        >
          <ul>
            <li>
              <span class="eds-message-warning" id="errorMsgContents"> </span>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td id="emptyRow" style="display: none">&nbsp;</td>
      </tr>
      <tr>
        <td align="left">
          <!-- CONTENT -->

          <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td style="padding-top: 20px">
                  <table
                    class="statuses eds-tabheader"
                    cellspacing="0"
                    cellpadding="0"
                    border="0"
                  >
                    <tbody>
                      <tr>
                        <td class="eds-tabtopleftcorner"></td>
                        <td class="eds-tabtopmiddle" align="center">
                          <div class="eds-tabtitle">Manage Audit Statuses</div>
                        </td>
                        <td class="eds-tabtoprightcorner"></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="eds-tabtoprightcorner"></td>
              </tr>
              <tr>
                <td>
                  <table
                    cellspacing="0"
                    cellpadding="0"
                    width="100%"
                    border="0"
                    class="eds-tabtitle"
                  >
                    <tbody>
                      <tr>
                        <td>
                          <form
                            name="AuditStatusForm"
                            id="manageAuditStatusesForm"
                            method="post"
                            action="/vdt/SaveAuditStatus.html"
                          >
                            <input type="hidden" name="editId" value="" />

                            <!-- Inline edit table -->
                        
                            <table id="inline-table" class="inline-table">
                              <tbody>
                                <tr>
                                  <th>Status Code *</th>
                                  <th>Description</th>
                                  <th></th>
                                </tr>
                                <tr
                                  class="eds-pagerstyle"
                                  id="inline-table_inlineRow_NO AUDIT"
                                >
                                  <td>
                                    <a
                                      name="inline-table_inline_tag_anchor__NO AUDIT"
                                    ></a
                                    ><span
                                      class="null"
                                      id="inline-table_auditStatusCd_NO AUDIT"
                                      >NO AUDIT</span
                                    >
                                    <span
                                      id="inline-table_auditStatusCd_field_NO AUDIT"
                                      style="display: none"
                                      class="eds-field-required"
                                    >
                                      <input
                                        type="text"
                                        name="inline-table_auditStatusCd_field_NO AUDIT"
                                        value="NO AUDIT"
                                        readonly="readonly"
                                        size="12"
                                        maxlength="10"
                                      />
                                    </span>
                                  </td>
                                  <td>
                                    <span
                                      class="null"
                                      id="inline-table_auditStatusDesc_NO AUDIT"
                                      >Please reset description</span
                                    >
                                    <span
                                      id="inline-table_auditStatusDesc_field_NO AUDIT"
                                      style="display: none"
                                      class=" "
                                    >
                                      <input
                                        type="text"
                                        name="inline-table_auditStatusDesc_field_NO AUDIT"
                                        value="Please reset description"
                                        size="20"
                                        maxlength="50"
                                      />
                                    </span>
                                  </td>
                                  <td>
                                    <input
                                      name="inline-table_updateButton"
                                      id="inline-table_update_NO AUDIT"
                                      type="button"
                                      value="Update"
                                      onclick='updateRow("inline-table","NO AUDIT",null,true,new Array("auditStatusCd","auditStatusDesc"));'
                                    />
                                    <input
                                      id="inline-table_save_NO AUDIT"
                                      type="button"
                                      value="Save"
                                      style="display: none"
                                      onclick='saveRow("manageAuditStatusesForm","inline-table","NO AUDIT","editId",null,new Array("auditStatusCd","auditStatusDesc"));'
                                    /><input
                                      id="inline-table_delete_NO AUDIT"
                                      type="button"
                                      value="Delete"
                                      style="display: none"
                                      onclick='deleteRow("manageAuditStatusesForm","inline-table","NO AUDIT","editId",null,"DeleteAuditStatus.html");'
                                    /><input
                                      id="inline-table_cancel_NO AUDIT"
                                      type="button"
                                      value="Cancel"
                                      style="display: none"
                                      onclick='cancel("manageAuditStatusesForm","editId","ManageAuditStatuses.html");'
                                    />
                                  </td>
                                </tr>
                                <tr
                                  class="eds-pagerstyle-alt"
                                  id="inline-table_inlineRow_OK"
                                >
                                  <td>
                                    <a
                                      name="inline-table_inline_tag_anchor__OK"
                                    ></a
                                    ><span
                                      class="null"
                                      id="inline-table_auditStatusCd_OK"
                                      >OK</span
                                    >
                                    <span
                                      id="inline-table_auditStatusCd_field_OK"
                                      style="display: none"
                                      class="eds-field-required"
                                    >
                                      <input
                                        type="text"
                                        name="inline-table_auditStatusCd_field_OK"
                                        value="OK"
                                        readonly="readonly"
                                        size="12"
                                        maxlength="10"
                                      />
                                    </span>
                                  </td>
                                  <td>
                                    <span
                                      class="null"
                                      id="inline-table_auditStatusDesc_OK"
                                      >Please reset description</span
                                    >
                                    <span
                                      id="inline-table_auditStatusDesc_field_OK"
                                      style="display: none"
                                      class=" "
                                    >
                                      <input
                                        type="text"
                                        name="inline-table_auditStatusDesc_field_OK"
                                        value="Please reset description"
                                        size="20"
                                        maxlength="50"
                                      />
                                    </span>
                                  </td>
                                  <td>
                                    <input
                                      name="inline-table_updateButton"
                                      id="inline-table_update_OK"
                                      type="button"
                                      value="Update"
                                      onclick='updateRow("inline-table","OK",null,true,new Array("auditStatusCd","auditStatusDesc"));'
                                    />
                                    <input
                                      id="inline-table_save_OK"
                                      type="button"
                                      value="Save"
                                      style="display: none"
                                      onclick='saveRow("manageAuditStatusesForm","inline-table","OK","editId",null,new Array("auditStatusCd","auditStatusDesc"));'
                                    /><input
                                      id="inline-table_delete_OK"
                                      type="button"
                                      value="Delete"
                                      style="display: none"
                                      onclick='deleteRow("manageAuditStatusesForm","inline-table","OK","editId",null,"DeleteAuditStatus.html");'
                                    /><input
                                      id="inline-table_cancel_OK"
                                      type="button"
                                      value="Cancel"
                                      style="display: none"
                                      onclick='cancel("manageAuditStatusesForm","editId","ManageAuditStatuses.html");'
                                    />
                                  </td>
                                </tr>
                                <tr
                                  class="eds-pagerstyle"
                                  id="inline-table_inlineRow_PENDING"
                                >
                                  <td>
                                    <a
                                      name="inline-table_inline_tag_anchor__PENDING"
                                    ></a
                                    ><span
                                      class="null"
                                      id="inline-table_auditStatusCd_PENDING"
                                      >PENDING</span
                                    >
                                    <span
                                      id="inline-table_auditStatusCd_field_PENDING"
                                      style="display: none"
                                      class="eds-field-required"
                                    >
                                      <input
                                        type="text"
                                        name="inline-table_auditStatusCd_field_PENDING"
                                        value="PENDING"
                                        readonly="readonly"
                                        size="12"
                                        maxlength="10"
                                      />
                                    </span>
                                  </td>
                                  <td>
                                    <span
                                      class="null"
                                      id="inline-table_auditStatusDesc_PENDING"
                                      >Please reset description</span
                                    >
                                    <span
                                      id="inline-table_auditStatusDesc_field_PENDING"
                                      style="display: none"
                                      class=" "
                                    >
                                      <input
                                        type="text"
                                        name="inline-table_auditStatusDesc_field_PENDING"
                                        value="Please reset description"
                                        size="20"
                                        maxlength="50"
                                      />
                                    </span>
                                  </td>
                                  <td>
                                    <input
                                      name="inline-table_updateButton"
                                      id="inline-table_update_PENDING"
                                      type="button"
                                      value="Update"
                                      onclick='updateRow("inline-table","PENDING",null,true,new Array("auditStatusCd","auditStatusDesc"));'
                                    />
                                    <input
                                      id="inline-table_save_PENDING"
                                      type="button"
                                      value="Save"
                                      style="display: none"
                                      onclick='saveRow("manageAuditStatusesForm","inline-table","PENDING","editId",null,new Array("auditStatusCd","auditStatusDesc"));'
                                    /><input
                                      id="inline-table_delete_PENDING"
                                      type="button"
                                      value="Delete"
                                      style="display: none"
                                      onclick='deleteRow("manageAuditStatusesForm","inline-table","PENDING","editId",null,"DeleteAuditStatus.html");'
                                    /><input
                                      id="inline-table_cancel_PENDING"
                                      type="button"
                                      value="Cancel"
                                      style="display: none"
                                      onclick='cancel("manageAuditStatusesForm","editId","ManageAuditStatuses.html");'
                                    />
                                  </td>
                                </tr>
                                <tr class="eds-pagerstyle-alt">
                                  <input
                                    type="hidden"
                                    name="inline-table_editId"
                                    value=""
                                  />
                                  <td>
                                    <span
                                      id="inline-table_auditStatusCd_field_-1"
                                      style="display: none"
                                      class="eds-field-required"
                                    >
                                      <input
                                        type="text"
                                        name="inline-table_auditStatusCd_field_-1"
                                        value=""
                                        size="12"
                                        maxlength="10"
                                      />
                                    </span>
                                  </td>
                                  <td>
                                    <span
                                      id="inline-table_auditStatusDesc_field_-1"
                                      style="display: none"
                                      class=" "
                                    >
                                      <input
                                        type="text"
                                        name="inline-table_auditStatusDesc_field_-1"
                                        value=""
                                        size="20"
                                        maxlength="50"
                                      />
                                    </span>
                                  </td>
                                  <td>
                                    <input
                                      type="hidden"
                                      name="auditStatusCd"
                                      value=""
                                    /><input
                                      type="hidden"
                                      name="auditStatusDesc"
                                      value=""
                                    /><input
                                      name="inline-table_updateButton"
                                      id="inline-table_update_-1"
                                      type="button"
                                      value="Create"
                                      onclick='updateRow("inline-table","-1",null,true,new Array("auditStatusCd","auditStatusDesc"));'
                                    />
                                    <input
                                      id="inline-table_save_-1"
                                      type="button"
                                      value="Save"
                                      style="display: none"
                                      onclick='saveRow("manageAuditStatusesForm","inline-table","-1","editId",null,new Array("auditStatusCd","auditStatusDesc"));'
                                    /><input
                                      id="inline-table_cancel_-1"
                                      type="button"
                                      value="Cancel"
                                      style="display: none"
                                      onclick='cancel("manageAuditStatusesForm","editId","ManageAuditStatuses.html");'
                                    />
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          
                          </form>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</td>
</div>
