.eds-tabheader {
    background-color: #8383b3;
    position: relative;
    bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 40%;
  }

  .eds-tabheader::after {
    width: 250%;
  }