<div style="margin-top: 15px">
  <tr>
    <td valign="top" align="left">
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tbody>
          <th></th>
          <tr>
            <td
              id="errorMsg"
              class="eds-messageframe"
              style="display: none"
              align="left"
            >
              <ul>
                <li>
                  <span class="eds-message-warning" id="errorMsgContents">
                  </span>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td id="emptyRow" style="display: none">&nbsp;</td>
          </tr>
          <tr>
            <td align="left">
              <form
                name="OpenRouteFilterForm"
                id="searchFormId"
                method="get"
                action="/vdt/OpenRoutes.html"
                (submit)="onSearch()"
              >
                <table cellspacing="0" cellpadding="0" border="0">
                  <tbody>
                    <th></th>
                    <tr>
                      <td>
                        <table
                          class="eds-tabheader"
                          cellspacing="0"
                          cellpadding="0"
                          border="0"
                        >
                          <tbody>
                            <th></th>
                            <tr>
                              <td class="eds-tabtopleftcorner"></td>
                              <td class="eds-tabtopmiddle" align="center">
                                <div class="eds-tabtitle">Search Criteria</div>
                              </td>
                              <td class="eds-tabtoprightcorner"></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td class="eds-tabtoprightcorner"></td>
                    </tr>
                    <tr>
                      <td>
                        <table
                          cellspacing="0"
                          cellpadding="0"
                          width="100%"
                          border="0"
                          class="eds-tabtitle"
                        >
                          <tbody>
                            <th></th>
                            <tr>
                              <td>
                                <table
                                  class="inline-table_dark_grey"
                                  width="600"
                                >
                                  <tbody>
                                    <th></th>
                                    <tr>
                                      <td align="right" width="45%">
                                        <table
                                          class="inline-table_dark_grey"
                                          style="width: 100%"
                                        >
                                          <tbody>
                                            <th></th>
                                            <tr
                                              class="eds-pagerstyle dropdown inline-table_dark_grey"
                                            >
                                              <td align="right">
                                                Routing&nbsp; &nbsp;
                                              </td>
                                              <td align="left">
                                                <select
                                                  name="routeType"
                                                  class=""
                                                  id="routeTypeId"
                                                  style="
                                                    width: 171.333334px;
                                                    height: 19.333334px;
                                                  "
                                                  [(ngModel)]="routeType"
                                                >
                                                  <option value="" >ALL</option>

                                                  <option value="ETDT">
                                                    ETDT
                                                  </option>

                                                  <option value="NONE">
                                                    NONE
                                                  </option>

                                                  <option value="OLD">
                                                    OLD
                                                  </option>

                                                  <option value="RR">RR</option>

                                                  <option value="T4">T4</option>

                                                  <option value="T5">T5</option>

                                                  <option value="T6">T6</option>
                                                </select>
                                              </td>
                                            </tr>

                                            <tr
                                              class="eds-pagerstyle-alt dropdown inline-table_dark_grey"
                                            >
                                              <td align="right">
                                                Section&nbsp; &nbsp;
                                              </td>
                                              <td align="left">
                                                <select
                                                  name="section"
                                                  class=""
                                                  style="
                                                    width: 171.333334px;
                                                    height: 19.333334px;
                                                  "
                                                  id="sectionId"
                                                  [(ngModel)]="section"
                                                >
                                                  <option> ALL </option>
                                                  <option *ngFor="let section of documentSection"> {{ section}} </option>
                                                </select>
                                              </td>
                                            </tr>

                                            <tr
                                              class="eds-pagerstyle dropdown inline-table_dark_grey"
                                            >
                                              <td align="right">
                                                DetailDoc Type&nbsp; &nbsp;
                                              </td>
                                              <td align="left">
                                                <select
                                                  name="detailDocType"
                                                  class=""
                                                  style="
                                                    width: 171.333334px;
                                                    height: 19.333334px;
                                                  "
                                                  id="detailDocTypeId"
                                                  [(ngModel)]="detailDocType"
                                                >
                                                  <option value="">ALL</option>
                                                  <option *ngFor="let doc of routeDetailDocType">
                                                    {{ doc }}
                                                  </option>
                                                </select>
                                              </td>
                                            </tr>

                                            <tr
                                              class="eds-pagerstyle-alt dropdown inline-table_dark_grey"
                                            >
                                              <td align="right">
                                                Effectivity &nbsp; &nbsp;
                                              </td>
                                              <td align="left">
                                                <select
                                                  name="effectivity"
                                                  class=""
                                                  id="effectivity"
                                                  multiple="multiple"
                                                  [(ngModel)]="effectivity"
                                                >
                                                  <option *ngFor="let doc of searchEffetivity">
                                                      {{ doc }}
                                                    </option>
                                                </select>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                      <td valign="top" width="55%">
                                        <table style="width: 100%">
                                          <tbody>
                                            <th></th>
                                            <tr class="eds-pagerstyle">
                                              <td
                                                class="inline-table_dark_grey"
                                                style="
                                                  width: 35%;
                                                  text-align: right;
                                                "
                                              >
                                                Route Date Range&nbsp; &nbsp;
                                              </td>
                                              <td
                                                class="inline-table_dark_grey"
                                                style="width: 65%"
                                              >
                                                <input
                                                  type="text"
                                                  name="routeStartDate"
                                                  class=""
                                                  id="routeDateStartId"
                                                  value=""
                                                  size="10"
                                                  maxlength="10"
                                                  autocomplete="off"
                                                  [(ngModel)]="
                                                    routeStartDate"
                                                />

                                                <span
                                                  ><img
                                                    onmouseover="this.style.cursor='hand'"
                                                    id="routeDateStartId_date"
                                                    align="ABSMIDDLE"
                                                    src="assets/images/calendar.gif"
                                                    (click)="
                                                      calendar1.overlayVisible =
                                                        !calendar1.overlayVisible;
                                                      calendar1.inputfieldViewChild?.nativeElement.click()
                                                    "
                                                    style="cursor: pointer"
                                                    alt = ""
                                                    onkeydown=""
                                                    onfocus=""
                                                /></span>
                                                <p-calendar
                                                  name="calendarDate"
                                                  #calendar1
                                                  [(ngModel)]="
                                                    routeStartDate
                                                  "
                                                  [showIcon]="false"
                                                  [showOnFocus]="false"
                                                  class="hidden-calendar"
                                                  (onSelect)="formatRouteStartDate($event)"

                                                ></p-calendar>

                                                -
                                                <input
                                                  type="text"
                                                  name="routeEndDate"
                                                  class=""
                                                  id="routeDateEndId"
                                                  value=""
                                                  size="10"
                                                  maxlength="10"
                                                  autocomplete="off"
                                                  [(ngModel)]="
                                                    routeEndDate                    
                                                  "
                                                />

                                                <span
                                                  ><img
                                                    onmouseover="this.style.cursor='hand'"
                                                    id="routeDateEndId_date"
                                                    align="ABSMIDDLE"
                                                    src="assets/images/calendar.gif"
                                                    (click)="
                                                      calendar2.overlayVisible =
                                                        !calendar2.overlayVisible;
                                                      calendar2.inputfieldViewChild?.nativeElement.click()
                                                    "
                                                    style="cursor: pointer"
                                                    alt = ""
                                                    onkeydown=""
                                                    onfocus=""
                                                /></span>
                                                <p-calendar
                                                  name="calendarDate"
                                                  #calendar2
                                                  [(ngModel)]="
                                                    routeEndDate
                                                  "
                                                  [showIcon]="false"
                                                  [showOnFocus]="false"
                                                  class="hidden-calendar"
                                                  (onSelect)="formatDate($event)"
                                                ></p-calendar>
                                              </td>
                                            </tr>
                                            <tr style="color: black">
                                              <td
                                                class="inline-table_dark_grey"
                                                style="
                                                  vertical-align: middle;
                                                  text-align: right;
                                                "
                                              >
                                                Route Status&nbsp; &nbsp;
                                              </td>
                                              <td
                                                align="left"
                                                style="vertical-align: top"
                                              >
                                                <input
                                                  type="radio"
                                                  name="routeStatusSearchType"
                                                  value="OPEN"
                                                  [(ngModel)]="selectedOption"
                                                  (change)="
                                                    getSelectedRadioValue(
                                                      $event
                                                    )
                                                  "
                                                />OPEN
                                                <input
                                                  type="radio"
                                                  name="routeStatusSearchType"
                                                  value="CLOSED"
                                                  [(ngModel)]="selectedOption"
                                                  (change)="
                                                    getSelectedRadioValue(
                                                      $event
                                                    )
                                                  "
                                                />CLOSED
                                                <input
                                                  type="radio"
                                                  name="routeStatusSearchType"
                                                  value="BOTH"
                                                  checked="checked"
                                                  [(ngModel)]="selectedOption"
                                                  (change)="
                                                    getSelectedRadioValue(
                                                      $event
                                                    )
                                                  "
                                                />BOTH
                                              </td>
                                            </tr>
                                            <tr></tr>
                                            <tr
                                              class="eds-pagerstyle-alt inline-table_dark_grey"
                                            >
                                              <td align="right">
                                                ESO&nbsp; &nbsp;
                                              </td>
                                              <td align="left">
                                                <input
                                                  type="text"
                                                  name="eso"
                                                  class=""
                                                  id="eso"
                                                  value=""
                                                  size="20"
                                                  maxlength="40"
                                                  [(ngModel)]="eso"
                                                />
                                              </td>
                                            </tr>

                                            <tr></tr>
                                            <tr
                                              class="eds-pagerstyle inline-table_dark_grey"
                                            >
                                              <td align="right">
                                                ATA&nbsp; &nbsp;
                                              </td>
                                              <td align="left">
                                                <input
                                                  type="text"
                                                  name="ata"
                                                  class=""
                                                  id="ata"
                                                  value=""
                                                  size="20"
                                                  maxlength="20"
                                                  [(ngModel)]="ata"
                                                />
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>

                                    <tr class="eds-pagerstyle-alt blueColSpan">
                                      <td colspan="2">
                                        <span style="float: right">
                                          <input type="submit" value="Search" />
                                        </span>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <br />
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</div>

<div></div>
<div class="loader-container" *ngIf="loading">
  <div class="loader"></div>
  <p>Loading data, please wait...</p>
</div>
<td valign="top" align="left" *ngIf="data">
  <br />
  <div class="pagination-container" *ngIf="data.length > 0 && totalCount > 15">
    <span class="pagebanner"
      >{{ totalCount | number }} items found, displaying {{ start + 1 }} to
      {{ start + recordsPerPage }}.</span
    >
    <br>
    <a
      class="pagination-link"
      (click)="goToFirst()"
      [class.disabled]="currentPage === 1"
      >[First</a
    >
    /
    <a
      class="pagination-link"
      (click)="goToPrevious()"
      [class.disabled]="currentPage === 1"
      >Prev]</a
    >
    /

    <!-- Page Numbers -->
    <a
      *ngFor="let page of getVisiblePages(); let i = index; let last=last"
      class="pagination-link"
      (click)="goToPage(page)"
      [class.active]="currentPage === page"
    >
      {{ page }}{{ last ? '' : ',' }}
    </a>
    /

    <!-- Next/Last Buttons -->
    <a
      class="pagination-link"
      (click)="goToNext()"
      [class.disabled]="currentPage === totalPages"
      >[Next</a
    >
    /
    <a
      class="pagination-link"
      (click)="goToLast()"
      [class.disabled]="currentPage === totalPages"
      >Last]</a
    >
  </div>
  <span *ngIf="data.length > 0 && totalCount < 16"> {{getWords()}} </span>
  <span *ngIf="data.length === 0">No routes for the specified criteria.</span>
  <table class="inline-table" id="result">
    <!-- <thead>
      <tr>
        <th *ngFor="let header of headers">{{ header }}</th>
        <th *ngIf="headers.length > 0">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr class="odd" *ngFor="let row of data">
        <td *ngFor="let header of headers">{{ row[header] }}</td>
        <td>
          <a
            routerLink="/viewRoute"
            (click)="viewClick(row.routeId)"
            >View</a
          >
        </td>
      </tr>
    </tbody> -->
    <tbody *ngIf="data.length > 0">
      <tr>
        <th>Detail #</th>
        <th>Route Date</th>
        <th>Vendor</th>
        <th>ATA</th>
        <th>VendorDocNo</th>
        <th>Subject</th>
        <th>Effectivity</th>
        <th>Section</th>
        <th>AA Revision #</th>
        <th>Detail Doc Type</th>
        <th>Case Class</th>
        <th>ESO #</th>
        <th>Action</th>
      </tr>

      <tr
        *ngFor="let row of data; let i = index"
        [ngClass]="i % 2 == 0 ? 'eds-pagerstyle' : 'eds-pagerstyle-alt'"
      >
        <td>{{ row.detailRefNumber }}</td>
        <td>{{ row.routeDate }}</td>
        <td>{{ row.vendorNm }}</td>
        <td>{{ row.ata }}</td>
        <td>{{ row.vendorDocNo }}</td>
        <td>{{ row.subject }}</td>
        <td>{{ row.effectivity }}</td>
        <td>{{ row.section }}</td>
        <td>{{ row.aaRevision }}</td>
        <td>{{ row.detailDocType }}</td>
        <td>{{ row.caseClass }}</td>
        <td>{{ row.eso }}</td>
        <td>
          <a
            routerLink="/viewRoute"
            (click)="viewClick(row.routeId)"
            >View</a
          >
        </td>
      </tr>
    </tbody>
  </table>
  <br />
  <a style="cursor: pointer;" (click)="downloadExcel()" *ngIf="data.length > 0">Download XLS</a>
  <div class="loader-container1" *ngIf="loadingDownload">
    <div class="loader1"></div>
    <p>Downloading data, please wait...</p>
  </div>
  <br /><span *ngIf="data.length > 0">(Please note: Depending on the size, this operation might take several
  minutes)</span>
</td>
