::ng-deep .header.eds-tabheader {
    width: 50%;
  }
  
 ::ng-deep .header.eds-tabheader::after {
    height: 50%;
    width: 200%;
    top: 20px;
    bottom: 0;
    left: 0;
    border-top-right-radius: 34px;
  }