<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <h5 class="menu-heading">Menu</h5>
    <mat-nav-list class="mainlist">
      <div class="dummy" *ngIf="this.apiService.role != 'VDT_ROLE_READONLY' && this.apiService.role != 'VDT_ROLE_AUDITOR'">
        <span class="span1"><a mat-list-item>- Document Information</a></span>
        <div class="subspan1">
          <mat-nav-list>
            <a mat-list-item (click)="default('/document')">- Add Document</a>
            <!-- <a mat-list-item>- Add Document</a> -->
          </mat-nav-list>
        </div>
      </div>

      <div class="dummy1">
        <div class="span2"><a mat-list-item>- ESO Information</a></div>
        <div class="span3">
          <mat-nav-list class="sublinks">
            <div class="span4"  *ngIf="this.apiService.role != 'VDT_ROLE_READONLY' && this.apiService.role != 'VDT_ROLE_AUDITOR'"><a mat-list-item (click)="default('/Add-ESO')">- Add ESO</a></div>
            <div class="span5" *ngIf="this.apiService.role != 'VDT_ROLE_READONLY' && this.apiService.role != 'VDT_ROLE_AUDITOR'"><a mat-list-item (click)="default('/View-Edit-ESO')">
              - View/Edit ESO</a></div>
               <div class="span5" *ngIf="this.apiService.role == 'VDT_ROLE_READONLY' || this.apiService.role == 'VDT_ROLE_AUDITOR'"><a mat-list-item (click)="default('/View-Edit-ESO')">
              - View ESO</a></div>
          </mat-nav-list>
        </div>
      </div>
      <div class="dummy2">
        <div class="span6">
          <a mat-list-item>- Search</a>
        </div>
        <div class="span7">
          <mat-nav-list class="sublinks">
            <div class="span4">
              <a mat-list-item routerLink="/search" (click)="resetFormData();default('/search')">- Search Documents</a>
            </div>
            <div class="span4" *ngIf="apiService.role != 'VDT_ROLE_READONLY' || apiService.role == 'VDT_ROLE_AUDITOR'">
              <a mat-list-item (click)="resetFormData();default('/search-audits')">- Search Audits</a>
            </div>
            <div class="span4"><a mat-list-item   (click)="resetFormData();default('/search-routes')">- Search Routes</a></div>
          </mat-nav-list>
        </div>
      </div>

      <div class="dummy3" *ngIf="this.apiService.role != 'VDT_ROLE_READONLY' && this.apiService.role != 'VDT_ROLE_AUDITOR'">
        <div class="span11"><a mat-list-item>- Admin Configuration</a></div>
        <div class="span12">
          <mat-nav-list class="sublinks">
            <div class="span13"><a mat-list-item routerLink="/Manage-Sections" (click)="default('/Manage-Sections')">- Manage Sections</a></div>
            <div class="span14">
              <a mat-list-item (click)="default('/Manage-Effectivities')">- Manage Effectivities</a>
            </div>
            <div class="span14"><a mat-list-item (click)="default('/Manage-Vendors')">- Manage Vendors</a></div>
            <div class="span14">
              <a mat-list-item (click)="default('/Manage-doc-categories')">- Manage Doc Categories</a>
            </div>
            <div class="span14">
              <a mat-list-item (click)="default('/Manage-detail-doc-type')">- Manage Detail Doc Type</a>
            </div>
            <div class="span14">
              <a mat-list-item (click)="default('/Manage-audit-statuses')">- Manage Audit Statuses</a>
            </div>
            <div class="span14">
              <a mat-list-item (click)="default('/Manage-eccn-number')">- Manage ECCN Number</a>
            </div>
            <div class="span14">
              <a mat-list-item (click)="default('/Manage-eccn-location')">- Manage ECCN Location</a>
            </div>
          </mat-nav-list>
        </div>
      </div>
    </mat-nav-list>
    <div class="footer"></div>
  </mat-sidenav>
  <mat-sidenav-content> <router-outlet></router-outlet> </mat-sidenav-content>
</mat-sidenav-container>
