<div>
  <td valign="top" align="left">
    <table border="0" cellspacing="0" cellpadding="0" width="100%">
      <tbody>
        <tr>
          <td
            id="errorMsg"
            class="eds-messageframe"
            style="display: none"
            align="left"
          >
            <ul>
              <li>
                <span class="eds-message-warning" id="errorMsgContents"> </span>
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td id="emptyRow" style="display: none">&nbsp;</td>
        </tr>
        <tr>
          <td align="left">
            <!-- CONTENT -->

            <br /><br />

            <div class="documentContainer">
              <div style="float: left">
                <table cellspacing="0" cellpadding="0" border="0">
                  <tbody>
                    <tr>
                      <td>
                        <table
                          class="eds-tabheader"
                          cellspacing="0"
                          cellpadding="0"
                          border="0"
                        >
                          <tbody>
                            <tr>
                              <td class="eds-tabtopleftcorner"></td>
                              <td class="eds-tabtopmiddle" align="center">
                                <div class="eds-tabtitle">Add New Document</div>
                              </td>

                              <td class="eds-tabtoprightcorner"></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td class="eds-tabtoprightcorner"></td>
                    </tr>
                    <tr>
                      <td>
                        <table
                          cellspacing="0"
                          cellpadding="0"
                          width="100%"
                          border="0"
                          class="eds-tabtitle"
                        >
                          <tbody>
                            <tr>
                              <td>
                                <form
                                  name="DocumentForm"
                                  id="documentFormId"
                                  method="post"
                                  action="/vdt/SaveDocument.html"
                                >
                                  <input
                                    type="hidden"
                                    name="submitType"
                                    value="add"
                                  />
                                  <input
                                    type="hidden"
                                    name="document.documentNbr"
                                    value=""
                                  />
                                  <table width="100%">
                                    <tbody>
                                      <tr style="height: 1px">
                                        <td width="200"></td>
                                        <td width="250"></td>
                                      </tr>

                                      <tr
                                        class="eds-pagerstyle eds-field-required"
                                        style="display: none"
                                      >
                                        <td align="right">
                                          Creation Date *&nbsp; &nbsp;
                                        </td>
                                        <td align="left">
                                          <input
                                            type="text"
                                            name="document.creationDate"
                                            class=""
                                            id="creationDateId"
                                            value="04/07/2024"
                                            size="41"
                                            autocomplete="off"
                                          />

                                          <span
                                            ><img
                                              onmouseover="this.style.cursor='hand'"
                                              id="creationDateId_date"
                                              align="ABSMIDDLE"
                                              src="assets/images/calendar.gif"
                                          /></span>
                                        </td>
                                      </tr>

                                      <tr
                                        class="eds-pagerstyle-alt eds-field-required"
                                      >
                                        <td align="right">
                                          Vendor Name *&nbsp; &nbsp;
                                        </td>
                                        <td align="left">
                                          <input
                                            type="text"
                                            name="document.vendor.vendorNm"
                                            class=""
                                            id="vendorAutoComplete"
                                           [(ngModel)]="val"
                                            size="45"
                                            maxlength="20"
                                            autocomplete="off"
                                          />

                                          <div
                                            id="vendorAutoComplete_choices"
                                            class="autoCompleteClass"
                                            style="display: none"
                                          ></div>
                                        </td>
                                      </tr>

                                      <tr class="eds-pagerstyle-alt">
                                        <td id="vendorContainerId" colspan="2">
                                          <table width="100%">
                                            <tbody>
                                              <tr style="height: 1px">
                                                <td width="200"></td>
                                                <td width="250"></td>
                                              </tr>

                                              <tr class="eds-pagerstyle">
                                                <td align="right">
                                                  Vendor Website&nbsp; &nbsp;
                                                </td>
                                                <td align="left">
                                                  <input
                                                    type="text"
                                                    name="document.vendor.vendorWebsite"
                                                    class=""
                                                    id="vendorWebsiteStyleId"
                                                    value=""
                                                    size="45"
                                                    maxlength="150"
                                                  />
                                                </td>
                                              </tr>

                                              <tr class="eds-pagerstyle-alt">
                                                <td align="right">
                                                  Vendor Contact Person&nbsp;
                                                  &nbsp;
                                                </td>
                                                <td align="left">
                                                  <input
                                                    type="text"
                                                    name="document.vendor.contactPerson"
                                                    class=""
                                                    value=""
                                                    size="45"
                                                    maxlength="100"
                                                  />
                                                </td>
                                              </tr>

                                              <tr class="eds-pagerstyle">
                                                <td align="right">
                                                  Vendor Contact Phone&nbsp;
                                                  &nbsp;
                                                </td>
                                                <td align="left">
                                                  <input
                                                    type="text"
                                                    name="document.vendor.contactPhone"
                                                    class=""
                                                    value=""
                                                    size="45"
                                                    maxlength="25"
                                                  />
                                                </td>
                                              </tr>

                                              <tr class="eds-pagerstyle-alt">
                                                <td align="right">
                                                  Vendor Email&nbsp; &nbsp;
                                                </td>
                                                <td align="left">
                                                  <input
                                                    type="text"
                                                    name="document.vendor.vendorEmailAddress"
                                                    class=""
                                                    value=""
                                                    size="45"
                                                    maxlength="50"
                                                  />
                                                </td>
                                              </tr>

                                              <tr class="eds-pagerstyle">
                                                <td align="right">
                                                  Vendor Remarks&nbsp; &nbsp;
                                                </td>
                                                <td align="left">
                                                  <input
                                                    type="text"
                                                    name="document.vendor.remarks"
                                                    class=""
                                                    value=""
                                                    size="45"
                                                    maxlength="255"
                                                  />
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>

                                      <tr class="eds-pagerstyle">
                                        <td align="right">
                                          Vendor Document Reference Number&nbsp;
                                          &nbsp;
                                        </td>
                                        <td align="left">
                                          <input
                                            type="text"
                                            name="document.vendorDocRefNbr"
                                            class=""
                                            value=""
                                            size="45"
                                            maxlength="50"
                                          />
                                        </td>
                                      </tr>

                                      <tr class="eds-pagerstyle-alt dropdown">
                                        <td align="right">
                                          Category&nbsp; &nbsp;
                                        </td>
                                        <td align="left">
                                          <select
                                            name="document.documentCategory"
                                            class=""
                                            [(ngModel)]="valueD"
                                          >
                                            <option value="--        ">
                                              -- - null
                                            </option>

                                            <option value="<-->      ">
                                              &lt;--&gt; - null
                                            </option>

                                            <option value="AIRFRAME  ">
                                              AIRFRAME - AIRFRAME
                                            </option>

                                            <option value="COMPONENT ">
                                              COMPONENT - COMPONENT
                                            </option>

                                            <option value="ENGINE    ">
                                              ENGINE - ENGINE
                                            </option>

                                            <option value="ITAR      ">
                                              ITAR - COMPONENT
                                            </option>
                                          </select>
                                        </td>
                                      </tr>

                                      <tr class="eds-pagerstyle dropdown">
                                        <td align="right">
                                          Effectivity&nbsp; &nbsp;
                                        </td>
                                        <td align="left">
                                          <select
                                            name="document.effectivityIds"
                                            class=""
                                            multiple="multiple"
                                          >
                                            <option value="A319">A319</option>

                                            <option value="A319XF">
                                              A319XF
                                            </option>

                                            <option value="A320">A320</option>

                                            <option value="A321">A321</option>

                                            <option value="A321NX">
                                              A321NX
                                            </option>

                                            <option value="A321XF">
                                              A321XF
                                            </option>

                                            <option value="A321XLR">
                                              A321XLR
                                            </option>

                                            <option value="A330">A330</option>

                                            <option value="ALL">ALL</option>

                                            <option value="B737-MAX8">
                                              B737-MAX8
                                            </option>

                                            <option value="B737-NG">
                                              B737-NG
                                            </option>

                                            <option value="B777">B777</option>

                                            <option value="B787">B787</option>

                                            <option value="CFM56-5B">
                                              CFM56-5B
                                            </option>

                                            <option value="CFM56-7B">
                                              CFM56-7B
                                            </option>

                                            <option value="GE90-100">
                                              GE90-100
                                            </option>

                                            <option value="GENX-1B">
                                              GENX-1B
                                            </option>

                                            <option value="LEAP-1A">
                                              LEAP-1A
                                            </option>

                                            <option value="LEAP-1B">
                                              LEAP-1B
                                            </option>

                                            <option value="TRENT 800">
                                              TRENT 800
                                            </option>

                                            <option value="V2500 A1/A5">
                                              V2500 A1/A5
                                            </option>
                                          </select>
                                        </td>
                                      </tr>

                                      <tr class="eds-pagerstyle-alt dropdown">
                                        <td align="right">
                                          Section *&nbsp; &nbsp;
                                        </td>
                                        <td align="left">
                                          <select
                                            name="document.sections"
                                            class=""
                                            multiple="multiple"
                                            [(ngModel)]="docSection"
                                          >
                                            <option value="0">0 - 0</option>

                                            <option value="10">10 - 10</option>

                                            <option value="12">12 - 12</option>

                                            <option value="14">14 - 14</option>

                                            <option value="17">17 - 17</option>

                                            <option value="20">20 - 20</option>

                                            <option value="21">21 - 21</option>

                                            <option value="23">23 - 23</option>

                                            <option value="30">30 - 30</option>

                                            <option value="36">36 - 36</option>

                                            <option value="38">38 - 38</option>

                                            <option value="39">39 - 39</option>

                                            <option value="40">40 - 40</option>

                                            <option value="44">44 - 44</option>

                                            <option value="47">47 - 47</option>

                                            <option value="60">60 - 60</option>

                                            <option value="61">61 - 61</option>

                                            <option value="63">63 - 63</option>

                                            <option value="71">71 - 71</option>

                                            <option value="72">72 - 72</option>

                                            <option value="73">73 - 73</option>

                                            <option value="74">
                                              74 - 74-CHRISTOPHER REEVES
                                            </option>

                                            <option value="75">75 - 75</option>

                                            <option value="77">77 - 77</option>
                                          </select>
                                        </td>
                                      </tr>

                                      <tr class="eds-pagerstyle">
                                        <td align="right">
                                          Document Subject&nbsp; &nbsp;
                                        </td>
                                        <td align="left">
                                          <input
                                            type="text"
                                            name="document.subject"
                                            class=""
                                            value=""
                                            size="45"
                                            maxlength="30"
                                          />
                                        </td>
                                      </tr>

                                      <tr class="eds-pagerstyle-alt">
                                        <td align="right">ATA&nbsp; &nbsp;</td>
                                        <td align="left">
                                          <input
                                            type="text"
                                            name="document.ata"
                                            class=""
                                            value=""
                                            size="45"
                                            maxlength="30"
                                          />
                                        </td>
                                      </tr>

                                      <tr class="eds-pagerstyle dropdown">
                                        <td align="right">
                                          Next Route&nbsp; &nbsp;
                                        </td>
                                        <td align="left">
                                          <select
                                            name="document.nextRouteType"
                                            [(ngModel)]="nextRoute"
                                            class=""
                                          >
                                            <option value="ETDT">ETDT</option>

                                            <option value="RR">RR</option>

                                            <option value="T5">T5</option>

                                            <option value="T6">T6</option>
                                          </select>
                                        </td>
                                      </tr>

                                      <tr class="eds-pagerstyle-alt">
                                        <td align="right">
                                          Reissue Date&nbsp; &nbsp;
                                        </td>
                                        <td align="left">
                                          <input
                                            type="text"
                                            name="document.reissueDate"
                                            class=""
                                            id="reissueDateId"
                                            value=""
                                            size="41"
                                            maxlength="10"
                                            autocomplete="off"
                                          />

                                          <span
                                            ><img
                                              onmouseover="this.style.cursor='hand'"
                                              id="reissueDateId_date"
                                              align="ABSMIDDLE"
                                              src="assets/images/calendar.gif"
                                          /></span>
                                        </td>
                                      </tr>

                                      <tr class="eds-pagerstyle">
                                        <td align="right">
                                          Remarks&nbsp; &nbsp;
                                        </td>
                                        <td align="left">
                                          <input
                                            type="text"
                                            name="document.remarks"
                                            class=""
                                           [(ngModel)]="remarksField"
                                            size="45"
                                            maxlength="100"
                                          />
                                        </td>
                                      </tr>

                                      <tr class="eds-pagerstyle-alt">
                                        <td style="text-align: right">
                                          Auditable Doc Types&nbsp; &nbsp;
                                        </td>
                                        <td>
                                          <select
                                            name="document.auditableDocTypes"
                                            class=""
                                            id="document.auditableDocTypes_id"
                                            multiple="multiple"
                                            style="width: 120px"
                                            maxlength="20"
                                          ></select>

                                          <br />

                                          <input
                                            type="text"
                                            name="addInput_document.auditableDocTypes_id"
                                            class=""
                                            id="addInput_document.auditableDocTypes_id"
                                            value=""
                                            style="width: 120px"
                                            maxlength="20"
                                            autocomplete="off"
                                          />

                                          <div
                                            id="addInput_document.auditableDocTypes_id_choices"
                                            class="autoCompleteClass"
                                            style="display: none"
                                          ></div>
                                          <input type="button" value="Add" />
                                          <input type="button" value="Remove" />
                                        </td>
                                      </tr>

                                      <tr class="eds-pagerstyle">
                                        <td style="text-align: right">
                                          Vendor Part Reference Numbers&nbsp;
                                          &nbsp;
                                        </td>
                                        <td>
                                          <select
                                            name="document.documentPartNumbers"
                                            class=""
                                            id="document.documentPartNumbers_id"
                                            multiple="multiple"
                                            style="width: 120px"
                                            maxlength="20"
                                          ></select>

                                          <br />

                                          <input
                                            type="text"
                                            name="addInput_document.documentPartNumbers_id"
                                            class=""
                                            id="addInput_document.documentPartNumbers_id"
                                            value=""
                                            style="width: 120px"
                                            maxlength="20"
                                            autocomplete="off"
                                          />

                                          <div
                                            id="addInput_document.documentPartNumbers_id_choices"
                                            class="autoCompleteClass"
                                            style="display: none"
                                          ></div>

                                          <input type="button" value="Add" />
                                          <input type="button" value="Remove" />
                                        </td>
                                      </tr>

                                      <tr class="eds-pagerstyle-alt">
                                        <td style="text-align: right">
                                          ECO Numbers&nbsp; &nbsp;
                                        </td>
                                        <td>
                                          <select
                                            name="document.ecos"
                                            class=""
                                            id="document.ecos_id"
                                            multiple="multiple"
                                            style="width: 120px"
                                            maxlength="20"
                                          ></select>

                                          <br />

                                          <input
                                            type="text"
                                            name="addInput_document.ecos_id"
                                            class=""
                                            id="addInput_document.ecos_id"
                                            value=""
                                            style="width: 120px"
                                            maxlength="20"
                                            autocomplete="off"
                                          />

                                          <div
                                            id="addInput_document.ecos_id_choices"
                                            class="autoCompleteClass"
                                            style="display: none"
                                          ></div>

                                          <input type="button" value="Add" />
                                          <input type="button" value="Remove" />
                                        </td>
                                      </tr>

                                      <tr class="eds-pagerstyle">
                                        <td style="text-align: right">
                                          ESO Numbers&nbsp; &nbsp;
                                        </td>
                                        <td>
                                          <select
                                            name="document.esos"
                                            class=""
                                            id="document.esos_id"
                                            multiple="multiple"
                                            style="width: 120px"
                                            maxlength="20"
                                          ></select>

                                          <br />

                                          <input
                                            type="text"
                                            name="addInput_document.esos_id"
                                            class=""
                                            id="addInput_document.esos_id"
                                            value=""
                                            style="width: 120px"
                                            maxlength="10"
                                            autocomplete="off"
                                          />

                                          <div
                                            id="addInput_document.esos_id_choices"
                                            class="autoCompleteClass"
                                            style="display: none"
                                          ></div>

                                          <input type="button" value="Add" />
                                          <input type="button" value="Remove" />
                                        </td>
                                      </tr>

                                      <!-- BUTTONS SECTION -->

                                      <tr
                                        class="eds-pagerstyle-alt blueColSpan"
                                      >
                                        <td colspan="2">
                                          <span style="float: right">
                                           <button (click)="addDocumentSubmit()">submittt</button>
                                          </span>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <input
                                    type="hidden"
                                    name="document.hasChildRecords"
                                    id="document.hasChildRecords"
                                    value="false"
                                  />
                                </form>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</div>
