<!-- <p-button label="Check" /> -->
<div>
  <td valign="top" align="left">
    <table border="0" cellspacing="0" cellpadding="0" width="100%">
      <tbody>
        <th></th>
        <tr>
          <td
            id="errorMsg"
            class="eds-messageframe"
            style="display: none"
            align="left"
          >
            <ul>
              <li>
                <span class="eds-message-warning" id="errorMsgContents"> </span>
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td id="emptyRow" style="display: none">&nbsp;</td>
        </tr>
        <div *ngIf="showVendorErr" class="errMsg">
          FAILED: Vendor Name * is required.
        </div>
        <div *ngIf="showSubErr" class="errMsg">
          FAILED: You must select at least one Engineering Section.
        </div>

        <a
          *ngIf="editDoc"
          style="font-size: larger; font-weight: bolder"
          routerLink="/viewStatus"
          >Back To Document</a
        >
        <tr>
          <td align="left">
            <!-- CONTENT -->

            <br /><br />


            <div class="documentContainer">
              <div style="float: left">
                <table cellspacing="0" cellpadding="0" border="0">
                  <tbody>
                    <th></th>
                    <tr>
                      <td>
                        <table
                          class="eds-tabheader"
                          cellspacing="0"
                          cellpadding="0"
                          border="0"
                        >
                          <tbody>
                            <th></th>
                            <tr>
                              <td class="eds-tabtopleftcorner"></td>
                              <td class="eds-tabtopmiddle" align="center">
                                <div *ngIf="!editDoc" class="eds-tabtitle">
                                  Add New Document
                                </div>
                                <div *ngIf="editDoc" class="eds-tabtitle">
                                  Edit Document
                                </div>
                              </td>

                              <td class="eds-tabtoprightcorner"></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td class="eds-tabtoprightcorner"></td>
                    </tr>
                    <tr>
                      <td>
                        <table
                          cellspacing="0"
                          cellpadding="0"
                          width="100%"
                          border="0"
                          class="eds-tabtitle"
                        >
                          <tbody>
                            <th></th>
                            <tr>
                              <td>
                                <form
                                  name="DocumentForm"
                                  id="documentFormId"
                                  method="post"
                                  action="/vdt/SaveDocument.html"
                                >
                                  <input
                                    type="hidden"
                                    name="submitType"
                                    value="add"
                                  />
                                  <input
                                    type="hidden"
                                    name="document.documentNbr"
                                    value=""
                                  />
                                  <table width="100%">
                                    <tbody>
                                      <th></th>
                                      <tr style="height: 1px">
                                        <td width="200"></td>
                                        <td width="250"></td>
                                      </tr>

                                      <tr
                                        class="eds-pagerstyle"
                                        *ngIf="editDoc"
                                      >
                                        <td align="right">
                                          VDT System ID No.&nbsp; &nbsp;
                                        </td>
                                        <td align="left">
                                          <input
                                            type="text"
                                            name="document.docnmbr"
                                            class=""
                                            id="docnmbr"
                                            size="45"
                                            autocomplete="off"
                                            [(ngModel)]="docId"
                                            readonly
                                          />

                                        </td>
                                      </tr>

                                      <tr
                                        class="eds-pagerstyle eds-field-required"
                                        *ngIf="editDoc"
                                      >
                                        <td align="right">
                                          Creation Date *&nbsp; &nbsp;
                                        </td>
                                        <td align="left">
                                          <input
                                            type="text"
                                            name="document.creationDate"
                                            class=""
                                            id="creationDateId"
                                            size="41"
                                            autocomplete="off"
                                            [ngModel]="creationDate"
                                          />

                                          <span
                                            ><img
                                              onmouseover="this.style.cursor='hand'"
                                              id="creationDateId_date"
                                              align="ABSMIDDLE"
                                              src="assets/images/calendar.gif"
                                              (click)="calendar1.overlayVisible = 
                                                !calendar1.overlayVisible;
                                                calendar1.inputfieldViewChild?.nativeElement.click()
                                              "
                                              alt = ""
                                              onkeydown=""
                                              onfocus=""
                                          /></span>
                                          <p-calendar
                                            name="calendarDate"
                                            #calendar1
                                            [(ngModel)]="creationDate"
                                            [showIcon]="false"
                                            [showOnFocus]="false"
                                            class="hidden-calendar"
                                            (onSelect)="formatDate($event)"
                                          ></p-calendar>

                                        </td>
                                      </tr>

                                      <tr
                                        class="eds-pagerstyle-alt eds-field-required"
                                      >
                                        <td align="right">
                                          Vendor Name *&nbsp; &nbsp;
                                        </td>
                                        <td align="left">
                                          <input
                                            type="text"
                                            name="document.vendor.vendorNm"
                                            class=""
                                            id="vendorAutoComplete"
                                            [(ngModel)]="vendorName"
                                            (input)="vName($event)"
                                            size="45"
                                            maxlength="20"
                                            autocomplete="off"
                                            (focusout)="onFocusOut()"
                                          />

                                          

                                          <div
                                            *ngIf="vendorNamesList.length > 0"
                                            style="
                                              min-width: 220px;
                                              background: rgb(247, 242, 242);
                                              position: absolute;
                                            "                                         
                                          >
                                          <div
                                              *ngFor="
                                                let val of vendorNamesList
                                              "
                                              (mousedown)="setVal(val)"
                                            >
                                              <span style="cursor: pointer">{{
                                                val
                                              }}</span>
                                            </div>
                                            
                                          </div>

                                          <div
                                            id="vendorAutoComplete_choices"
                                            class="autoCompleteClass"
                                            style="display: none"
                                          ></div>
                                        </td>
                                      </tr>

                                      <tr class="eds-pagerstyle-alt">
                                        <td id="vendorContainerId" colspan="2">
                                          <table width="100%">
                                            <tbody>
                                              <th></th>
                                              <tr style="height: 1px">
                                                <td width="200"></td>
                                                <td width="250"></td>
                                              </tr>

                                              <tr class="eds-pagerstyle">
                                                <td align="right">
                                                  Vendor Website&nbsp; &nbsp;
                                                </td>
                                                <td align="left">
                                                  <input
                                                    type="text"
                                                    name="document.vendor.vendorWebsite"
                                                    class=""
                                                    id="vendorWebsiteStyleId"
                                                    value=""
                                                    size="45"
                                                    maxlength="150"
                                                    [(ngModel)]="vendorWebsite"
                                                  />
                                                </td>
                                              </tr>

                                              <tr class="eds-pagerstyle-alt">
                                                <td align="right">
                                                  Vendor Contact Person&nbsp;
                                                  &nbsp;
                                                </td>
                                                <td align="left">
                                                  <input
                                                    type="text"
                                                    name="document.vendor.contactPerson"
                                                    class=""
                                                    value=""
                                                    size="45"
                                                    maxlength="100"
                                                    [(ngModel)]="
                                                      vendorContactPerson
                                                    "
                                                  />
                                                </td>
                                              </tr>

                                              <tr class="eds-pagerstyle">
                                                <td align="right">
                                                  Vendor Contact Phone&nbsp;
                                                  &nbsp;
                                                </td>
                                                <td align="left">
                                                  <input
                                                    type="text"
                                                    name="document.vendor.contactPhone"
                                                    class=""
                                                    value=""
                                                    size="45"
                                                    maxlength="25"
                                                    [(ngModel)]="
                                                    vendorContactNumber
                                                    "
                                                  />
                                                </td>
                                              </tr>

                                              <tr class="eds-pagerstyle-alt">
                                                <td align="right">
                                                  Vendor Email&nbsp; &nbsp;
                                                </td>
                                                <td align="left">
                                                  <input
                                                    type="text"
                                                    name="document.vendor.vendorEmailAddress"
                                                    class=""
                                                    value=""
                                                    size="45"
                                                    maxlength="50"
                                                    [(ngModel)]="vendorEmail"
                                                  />
                                                </td>
                                              </tr>

                                              <tr class="eds-pagerstyle">
                                                <td align="right">
                                                  Vendor Remarks&nbsp; &nbsp;
                                                </td>
                                                <td align="left">
                                                  <input
                                                    type="text"
                                                    name="document.vendor.remarks"
                                                    class=""
                                                    value=""
                                                    size="45"
                                                    maxlength="255"
                                                    [(ngModel)]="vendorRemark"
                                                  />
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                      
                                      <tr class="eds-pagerstyle">
                                        <td align="right">
                                          Vendor Document Reference Number&nbsp;
                                          &nbsp;
                                        </td>
                                        <td align="left">
                                          <input
                                            type="text"
                                            name="document.vendorDocRefNbr"
                                            class=""
                                            value=""
                                            size="45"
                                            maxlength="50"
                                            [(ngModel)]="vendorDocRef"
                                          />
                                        </td>
                                      </tr>

                                      <tr class="eds-pagerstyle-alt dropdown">
                                        <td align="right">
                                          Category&nbsp; &nbsp;
                                        </td>
                                        <td align="left">
                                          <select
                                            name="document.documentCategory"
                                            class=""
                                            [(ngModel)]="category"
                                          >
                                            <option value="--        ">
                                              -- - null
                                            </option>

                                            <option value="<-->      ">
                                              &lt;--&gt; - null
                                            </option>

                                            <option value="AIRFRAME  ">
                                              AIRFRAME - AIRFRAME
                                            </option>

                                            <option value="COMPONENT ">
                                              COMPONENT - COMPONENT
                                            </option>

                                            <option value="ENGINE    ">
                                              ENGINE - ENGINE
                                            </option>

                                            <option value="ITAR      ">
                                              ITAR - COMPONENT
                                            </option>
                                          </select>
                                        </td>
                                      </tr>

                                      <tr class="eds-pagerstyle dropdown">
                                        <td align="right">
                                          Effectivity&nbsp; &nbsp;
                                        </td>
                                        <td align="left">
                                          <select
                                            name="document.effectivityIds"
                                            class=""
                                            multiple="multiple"
                                            [(ngModel)]="docEffectivity"
                                          >
                                            <option
                                              *ngFor="
                                                let doc of searchEffetivity
                                              "
                                              [value]="doc"
                                            >
                                              {{ doc }}
                                            </option>  
                                          </select>
                                        </td>
                                      </tr>

                                      <tr class="eds-pagerstyle-alt dropdown">
                                        <td align="right">
                                          Section *&nbsp; &nbsp;
                                        </td>
                                        <td align="left">
                                          <select
                                            name="document.sections"
                                            class=""
                                            multiple="multiple"
                                            [(ngModel)]="docSection"
                                          >
                                            <option
                                              *ngFor="
                                                let section of documentSection
                                              "
                                              [value]="section"
                                            >
                                              {{ section }}
                                            </option>
                                          </select>
                                        </td>
                                      </tr>

                                      <tr class="eds-pagerstyle">
                                        <td align="right">
                                          Document Subject&nbsp; &nbsp;
                                        </td>
                                        <td align="left">
                                          <input
                                            type="text"
                                            name="document.subject"
                                            class=""
                                            value=""
                                            size="45"
                                            maxlength="30"
                                            [(ngModel)]="documentSubject"
                                          />
                                        </td>
                                      </tr>

                                      <tr class="eds-pagerstyle-alt">
                                        <td align="right">ATA&nbsp; &nbsp;</td>
                                        <td align="left">
                                          <input
                                            type="text"
                                            name="document.ata"
                                            class=""
                                            value=""
                                            size="45"
                                            maxlength="30"
                                            [(ngModel)]="ata"
                                          />
                                        </td>
                                      </tr>

                                      <tr class="eds-pagerstyle dropdown">
                                        <td align="right">
                                          Next Route&nbsp; &nbsp;
                                        </td>
                                        <td align="left">
                                          <select
                                            name="document.nextRouteType"
                                            [(ngModel)]="nextRoute"
                                            class=""
                                          >
                                            <option value="ETDT">ETDT</option>

                                            <option value="RR">RR</option>

                                            <option value="T5">T5</option>

                                            <option value="T6">T6</option>
                                          </select>
                                        </td>
                                      </tr>

                                      <tr class="eds-pagerstyle-alt">
                                        <td align="right">
                                          Reissue Date&nbsp; &nbsp;
                                        </td>
                                        <td align="left">
                                          <input
                                            type="text"
                                            name="document.reissueDate"
                                            class=""
                                            id="reissueDateId"
                                            value=""
                                            size="41"
                                            maxlength="10"
                                            autocomplete="off"
                                            [(ngModel)]="
                                              reissueDate
                                            "                                           
                                          />

                                          <span
                                            ><img
                                              onmouseover="this.style.cursor='hand'"
                                              id="reissueDateId_date"
                                              align="ABSMIDDLE"
                                              src="assets/images/calendar.gif"
                                              (click)="
                                                calendar2.overlayVisible =
                                                  !calendar2.overlayVisible;
                                                calendar2.inputfieldViewChild?.nativeElement.click()
                                              "
                                              alt=""
                                              onkeydown=""
                                              onfocus=""
                                          /></span>
                                          <p-calendar
                                            name="calendarDate"
                                            #calendar2
                                            [(ngModel)]="reissueDate"
                                            [showIcon]="false"
                                            [showOnFocus]="false"
                                            class="hidden-calendar"
                                            (onSelect)="formatDate1($event)"
                                          ></p-calendar>

                                        </td>
                                      </tr>

                                      <tr class="eds-pagerstyle">
                                        <td align="right">
                                          Remarks&nbsp; &nbsp;
                                        </td>
                                        <td align="left">
                                          <input
                                            type="text"
                                            name="document.remarks"
                                            class=""
                                            [(ngModel)]="remarksField"
                                            size="45"
                                            maxlength="100"
                                          />
                                        </td>
                                      </tr>

                                      <tr class="eds-pagerstyle dropdown inline-table_dark_grey">
                                        <td align="right">
                                          ITAR&nbsp; &nbsp;
                                        </td>
                                        <td align="left">
                                          <select
                                            name="detailDocType"
                                            class=""
                                            tabindex="-1"
                                            [(ngModel)]="ITAR"
                                          >
                                            <option  value=""> </option>
                                            <option  value="YES"> Y </option >
                                            <option  value="NO" > N </option>
                                          </select>
                                        </td>
                                      </tr>

                                      <tr class="eds-pagerstyle-alt">
                                        <td style="text-align: right">
                                          ECCN Number&nbsp; &nbsp;
                                        </td>
                                        <td>
                                          <select
                                            name="eccnNumber"
                                            multiple="multiple"
                                            style="width: 120px"
                                            maxlength="20"
                                            [(ngModel)]="selEccnNumber"
                                          >
                                            <option
                                              *ngFor="let item of eccnNumber"
                                              [value]="item"
                                            >
                                              {{ item }}
                                            </option>
                                          </select>

                                          <br />

                                          <input
                                            type="text"
                                            name="Number"
                                            [(ngModel)]="typedNumber"
                                            (input)="
                                              filterNumbers(
                                                $any($event.target).value
                                              )
                                            "
                                            style="width: 120px"
                                            maxlength="20"
                                            autocomplete="off"
                                            (focusout)="onFocusOut()"
                                          />
                                          <input
                                            type="button"
                                            (click)="addNumber()"
                                            value="Add"
                                          />
                                          <input
                                            type="button"
                                            (click)="removeNumber()"
                                            value="Remove"
                                          />
                                          <div
                                            *ngIf="filteredNumbers.length > 0"
                                            style="
                                              min-width: 120px;
                                              background: lightgray;
                                              position: absolute;
                                            "
                                          >
                                            <div
                                              *ngFor="
                                                let number of filteredNumbers
                                              "
                                              (mousedown)="selectNumber(number)"
                                            >
                                              <span style="cursor: pointer">{{
                                                number
                                              }}</span>
                                            </div>
                                          </div>
                                        </td>
                                      </tr>

                                      <tr class="eds-pagerstyle-alt">
                                        <td style="text-align: right">
                                          ECCN Location&nbsp; &nbsp;
                                        </td>
                                        <td>
                                          <select
                                            name="eccnLocation"
                                            multiple="multiple"
                                            style="width: 120px"
                                            maxlength="20"
                                            [(ngModel)]="selEccnLocation"
                                          >
                                            <option
                                              *ngFor="let item of eccnLocation"
                                              [value]="item"
                                            >
                                              {{ item }}
                                            </option>
                                          </select>
                                          <br />

                                          <input
                                            type="text"
                                            name="location"
                                            [(ngModel)]="typedLocation"
                                            (input)="
                                              filterLocations(
                                                $any($event.target).value
                                              )
                                            "
                                            style="width: 120px"
                                            maxlength="20"
                                            autocomplete="off"
                                            (focusout)="onFocusOut()"
                                          />
                                          <input
                                            type="button"
                                            (click)="addLocation()"
                                            value="Add"
                                          />
                                          <input
                                            type="button"
                                            (click)="removeLocation()"
                                            value="Remove"
                                          />
                                          <div
                                            *ngIf="filteredLocations.length > 0"
                                            style="
                                              min-width: 120px;
                                              background: lightgray;
                                              position: absolute;
                                            "
                                          >
                                            <div
                                              *ngFor="
                                                let location of filteredLocations
                                              "
                                              (mousedown)="
                                                selectLocation(location)
                                              "
                                            >
                                              <span style="cursor: pointer">{{
                                                location
                                              }}</span>
                                            </div>
                                          </div>
                                        </td>
                                      </tr>
                                     

                                      <tr class="eds-pagerstyle">
                                        <td style="text-align: right">
                                          Vendor Part Reference Numbers&nbsp;
                                          &nbsp;
                                        </td>
                                        <td>
                                          <select
                                            name="document.documentPartNumbers"
                                            [(ngModel)]="removedDoc"
                                            multiple="multiple"
                                            style="width: 120px"
                                            maxlength="20"
                                          >
                                            <option
                                              *ngFor="
                                                let doc of allSelectedDocTypes
                                              "
                                              [value]="doc"
                                            >
                                              {{ doc }}
                                            </option>
                                          </select>
                                          <br />

                                          <input
                                            type="text"
                                            name="documentPartNumbers"
                                            class=""
                                            [(ngModel)]="typedDocType"
                                            
                                            style="width: 120px"
                                            maxlength="20"
                                            autocomplete="off"
                                            (focusout)="onFocusOut()"
                                          />
                                          <input
                                            type="button"
                                            (click)="addDocType()"
                                            value="Add"
                                          />
                                          <input
                                            type="button"
                                            (click)="removeDocType()"
                                            value="Remove"
                                          />
                                          <div
                                            *ngIf="filteredDocTypes.length > 0"
                                            style="
                                              min-width: 120px;
                                              background: lightgray;
                                              position: absolute;
                                            "
                                          >
                                            <div
                                              *ngFor="
                                                let doc of filteredDocTypes
                                              "
                                              (mousedown)="selectDocType(doc)"
                                            >
                                              <span style="cursor: pointer">{{
                                                doc
                                              }}</span>
                                            </div>
                                          </div>
                                        </td>
                                      </tr>
                                      <tr class="eds-pagerstyle-alt">
                                        <td style="text-align: right">
                                          Auditable Doc Type&nbsp; &nbsp;
                                        </td>
                                        <td>
                                          <select
                                            name="addedValDoc"
                                            class=""
                                            id=""
                                            multiple="multiple"
                                            style="width: 120px"
                                            maxlength="20"
                                            [(ngModel)]="addedValDoc12"
                                          >
                                            <option
                                              *ngFor="let item of addedValDoc"
                                              [value]="item"
                                            >
                                              {{ item }}
                                            </option>
                                          </select>

                                          <br />

                                          <input
                                            type="text"
                                            name="typedAuditable"
                                            class=""
                                            id=""
                                            value="rttt"
                                            style="width: 120px"
                                            maxlength="20"
                                            (input)="auditNext()"
                                            [(ngModel)]="typedAuditable"
                                            [ngModelOptions]="{
                                              standalone: true
                                            }"                                          
                                            (focusout)="onFocusOut()"
                                          />

                                          <div
                                            id=""
                                            class=""
                                            style="display: none"
                                          ></div>

                                          <input
                                            type="button"
                                            (click)="onAddDoc()"
                                            value="Add"
                                          />
                                          <input
                                            type="button"
                                            (click)="removeDoc()"
                                            value="Remove"
                                          />
                                          <div
                                            style="
                                              min-width: 120px;
                                              background: lightgray;
                                              position: absolute;
                                            "
                                          >
                                            <div
                                              *ngFor="
                                                let doc of auditableResponse
                                              "
                                              (mousedown)="
                                                auditableDropDownSelect(doc)
                                              "
                                            >
                                              <span style="cursor: pointer">{{
                                                doc
                                              }}</span>
                                            </div>
                                          </div>
                                        </td>
                                      </tr>


                                      <tr class="eds-pagerstyle-alt">
                                        <td style="text-align: right">
                                          ECO Numbers&nbsp; &nbsp;
                                        </td>
                                        <td>
                                          <select
                                            name="document.ecos"
                                            class=""
                                            id="document.ecos_id"
                                            multiple="multiple"
                                            style="width: 120px"
                                            maxlength="20"
                                            [(ngModel)]="addedValEco"
                                          >
                                            <option
                                              *ngFor="let item of addedVal"
                                              [value]="item"
                                            >
                                              {{ item }}
                                            </option>
                                          </select>

                                          <br />

                                          <input
                                            type="text"
                                            name="addInput_document.ecos_id"
                                            class=""
                                            id="addInput_document.ecos_id"
                                            value="rttt"
                                            style="width: 120px"
                                            maxlength="20"
                                            (input)="ecoNumb()"
                                            [(ngModel)]="ecoNumber"
                                            (focusout)="onFocusOut()"
                                          />

                                          <div
                                            id="addInput_document.ecos_id_choices"
                                            class="autoCompleteClass"
                                            style="display: none"
                                          ></div>

                                          <input
                                            type="button"
                                            (click)="addecoVal()"
                                            value="Add"
                                          />
                                          <input
                                            type="button"
                                            (click)="removeecoVal()"
                                            value="Remove"
                                          />
                                          <div
                                            style="
                                              min-width: 120px;
                                              background: lightgray;
                                              position: absolute;
                                            "
                                          >
                                            <div
                                              *ngFor="let doc of ecoRes"
                                              (mousedown)="selectesoNum(doc)"
                                            >
                                              <span style="cursor: pointer">{{
                                                doc
                                              }}</span>
                                            </div>
                                          </div>
                                        </td>
                                      </tr>

                                      <tr class="eds-pagerstyle">
                                        <td style="text-align: right">
                                          ESO Numbers&nbsp; &nbsp;
                                        </td>
                                        <td>
                                          <select
                                            name="document.esos"
                                            class=""
                                            id="document.esos_id"
                                            multiple="multiple"
                                            style="width: 120px"
                                            maxlength="20"
                                            [(ngModel)]="selectedEsoNumberArr"
                                          >
                                            <option
                                              *ngFor="
                                                let item of selectedEsoNumber
                                              "
                                              [value]="item"
                                            >
                                            {{ item }}
                                            </option>
                                          </select>

                                          <br />

                                          <input
                                            type="text"
                                            name="addInput_document.esos_id"
                                            class=""
                                            id="addInput_document.esos_id"
                                            value=""
                                            style="width: 120px"
                                            maxlength="10"
                                            autocomplete="off"
                                            [(ngModel)]="typedEsoNumber"
                                            (input)="esoNumb()"
                                            (focusout)="onFocusOut()"
                                          />

                                          <div
                                            id="addInput_document.esos_id_choices"
                                            class="autoCompleteClass"
                                            style="display: none"
                                          ></div>

                                          <input
                                            type="button"
                                            (click)="addEsoNum()"
                                            value="Add"
                                          />
                                          <input
                                            type="button"
                                            (click)="removeEso()"
                                            value="Remove"
                                          />
                                          <div
                                            style="
                                              min-width: 120px;
                                              background: lightgray;
                                              position: absolute;
                                            "
                                          >
                                            <div
                                              *ngFor="let doc of esoNumberRess"
                                              (mousedown)="selectesoNum1(doc)"
                                            >
                                              <span style="cursor: pointer">{{
                                                doc
                                              }}</span>
                                            </div>
                                          </div>
                                        </td>
                                      </tr>

                                      <!-- BUTTONS SECTION -->

                                      <tr
                                        class="eds-pagerstyle-alt blueColSpan"
                                      >
                                        <td colspan="2">
                                          <button
                                            *ngIf="editDoc"
                                            (click)="deleteDocument()"
                                          >
                                            Delete
                                          </button>
                                          <span style="float: right">
                                            <button
                                              (click)="addDocumentSubmit()"
                                            >
                                              submit
                                            </button>
                                          </span>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <input
                                    type="hidden"
                                    name="document.hasChildRecords"
                                    id="document.hasChildRecords"
                                    value="false"
                                  />
                                </form>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</div>
