<div *ngIf="dataFlag">
  <td valign="top" align="left">
    <table border="0" cellspacing="0" cellpadding="0" width="100%">
      <ng-container>
        <tbody>
          <tr>
            <td
              id="errorMsg"
              class="eds-messageframe"
              style="display: none"
              align="left"
            >
              <ul>
                <li>
                  <span class="eds-message-warning" id="errorMsgContents">
                  </span>
                </li>
              </ul>
            </td>
          </tr>
          <div *ngIf="effectivitySaved" class="savedDoc">SUCCESS: Effectivity successfully saved.</div>
          <div *ngIf="effectivityDeleted" class="savedDoc">SUCCESS: Effectivity successfully deleted.</div> 
          <tr>
            <td id="emptyRow" style="display: none">&nbsp;</td>
          </tr>
          <tr>
            <td align="left">
              <!-- CONTENT -->

              <table cellspacing="0" cellpadding="0" border="0">
                <tbody>
                  <tr>
                    <td style="padding-top: 12px">
                      <table
                        class="effectivity eds-tabheader"
                        cellspacing="0"
                        cellpadding="0"
                        border="0"
                      >
                        <tbody>
                          <tr>
                            <td class="eds-tabtopleftcorner"></td>
                            <td class="eds-tabtopmiddle" align="center">
                              <div class="eds-tabtitle">
                                Manage Effectivities
                              </div>
                            </td>
                            <td class="eds-tabtoprightcorner"></td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td class="eds-tabtoprightcorner"></td>
                  </tr>
                  <tr>
                    <td>
                      <table
                        cellspacing="0"
                        cellpadding="0"
                        width="100%"
                        border="0"
                        class="eds-tabtitle"
                      >
                        <tbody>
                          <tr>
                            <td>
                              <form
                                name="EffectivityForm"
                                id="manageEffectivityForm"
                                method="post"
                                action="/vdt/SaveEffectivity.html"
                              >
                                <input type="hidden" name="editId" value="" />

                                <!-- Inline edit table -->

                                <table id="inline-table" class="inline-table">
                                  <tbody>
                                    <tr>
                                      <th>Effectivity *</th>
                                      <th>Start ESO #</th>
                                      <th>End ESO #</th>
                                      <th>Next ESO #</th>
                                      <th>Inactive</th>
                                      <th></th>
                                    </tr>

                                    <tr
                                      *ngFor="
                                        let status of Effectivities;
                                        let i = index
                                      "
                                      [ngClass]="
                                        i % 2 == 0
                                          ? 'eds-pagerstyle'
                                          : 'eds-pagerstyle-alt'
                                      "
                                    >
                                      <td *ngIf="btnIndex !== i && status.newRow !== true">
                                        {{ status.effectivityId }}
                                      </td>
                                      <td *ngIf="btnIndex !== i && status.newRow !== true">
                                        {{
                                          status.effectivityFleet?.esoMinSeqNbr
                                        }}
                                      </td>
                                      <td *ngIf="btnIndex !== i && status.newRow !== true">
                                        {{
                                          status.effectivityFleet?.esoMaxSeqNbr
                                        }}
                                      </td>
                                      <td *ngIf="btnIndex !== i && status.newRow !== true">
                                        {{
                                          status.effectivityFleet?.esoCurrSeqNbr
                                        }}
                                      </td>
                                      <td *ngIf="btnIndex !== i && status.newRow !== true">
                                        {{ status.inactiveInd }}
                                      </td>
                                      <td *ngIf="btnIndex === i || status.newRow === true">
                                        <span class="eds-field-required">
                                          <input
                                            type="text"
                                            name="effectivityId"
                                            [(ngModel)]="status.effectivityId"
                                            [readonly]="status.newRow !== true"
                                          />
                                        </span>
                                      </td>

                                      <td *ngIf="btnIndex === i || status.newRow === true">
                                        <span>
                                          <input
                                            type="text"
                                            name="esoMinSeqNb"
                                            [(ngModel)]="
                                              status?.effectivityFleet.esoMinSeqNbr                                              
                                            "
                                          />
                                        </span>
                                      </td>

                                      <td *ngIf="btnIndex === i || status.newRow === true">
                                        <span>
                                          <input
                                            type="text"
                                            name="esoMaxSeqNbr"
                                            [(ngModel)]="
                                              status?.effectivityFleet.esoMaxSeqNbr                                          
                                            "
                                          />
                                        </span>
                                      </td>

                                      <td *ngIf="btnIndex === i || status.newRow === true">
                                        <span>
                                          <input
                                            type="text"
                                            name="esoCurrSeqNbr"
                                            [(ngModel)]="
                                              status?.effectivityFleet.esoCurrSeqNbr                                               
                                            "
                                          />
                                        </span>
                                      </td>

                                      <td *ngIf="btnIndex === i || status.newRow === true">
                                        <span
                                          class="null"
                                          id="inactiveInd"
                                          style="display: none"
                                          >Y</span
                                        >
                                        <span id="inactiveInd">
                                          <select
                                            name="inactiveInd"
                                            [(ngModel)]="status.inactiveInd"
                                          >
                                            <option value="N">No</option>
                                            <option
                                              value="Y"
                                              selected="selected"
                                            >
                                              Yes
                                            </option>
                                          </select>
                                        </span>
                                      </td>
                                      <td *ngIf="btnIndex !== i && status.newRow !== true">
                                        <button
                                          style="
                                            border: 1px solid gray;
                                            border-radius: 2px;
                                          "
                                          (click)="btnClick(i)"
                                        >
                                          Update
                                        </button>
                                      </td>
                                      <td *ngIf="btnIndex === i || status.newRow === true">
                                        <input
                                          id="inline-table_save_1"
                                          type="button"
                                          value="Save"
                                          (click)="
                                            saveRow(
                                              status?.effectivityId,
                                              status?.effectivityFleet
                                                ?.esoMinSeqNbr,
                                              status?.effectivityFleet
                                                ?.esoMaxSeqNbr,
                                              status?.effectivityFleet
                                                ?.esoCurrSeqNbr,
                                              status?.inactiveInd
                                            )
                                          "
                                        /><input
                                          id="inline-table_delete_1"
                                          type="button"
                                          value="Delete"
                                          (click)="
                                            deleteRow(status.effectivityId)
                                          "
                                        />
                                        <button
                                          id="inline-table_cancel_1"
                                          type="button"
                                          value="Cancel"
                                          (click)="cancelRow()"
                                        >
                                          cancel
                                        </button>
                                      </td>
                                    </tr>

                                    <tr class="eds-pagerstyle-alt">
                                      <input
                                        type="hidden"
                                        name="inline-table_editId"
                                        value=""
                                      />
                                      <td>
                                        <span
                                          id="inline-table_effectivityId_field_-1"
                                          style="display: none"
                                          class="eds-field-required"
                                        >
                                          <input
                                            type="text"
                                            name="inline-table_effectivityId_field_-1"
                                            value=""
                                            size="12"
                                            maxlength="20"
                                          />
                                        </span>
                                      </td>
                                      <td>
                                        <span
                                          id="inline-table_esoStartNumber_field_-1"
                                          style="display: none"
                                          class=" "
                                        >
                                          <input
                                            type="text"
                                            name="inline-table_esoStartNumber_field_-1"
                                            value=""
                                            size="12"
                                            maxlength="20"
                                          />
                                        </span>
                                      </td>
                                      <td>
                                        <span
                                          id="inline-table_esoEndNumber_field_-1"
                                          style="display: none"
                                          class=" "
                                        >
                                          <input
                                            type="text"
                                            name="inline-table_esoEndNumber_field_-1"
                                            value=""
                                            size="12"
                                            maxlength="20"
                                          />
                                        </span>
                                      </td>
                                      <td>
                                        <span
                                          id="inline-table_nextEsoNumber_field_-1"
                                          style="display: none"
                                          class=" "
                                        >
                                          <input
                                            type="text"
                                            name="inline-table_nextEsoNumber_field_-1"
                                            value=""
                                            size="12"
                                            maxlength="20"
                                          />
                                        </span>
                                      </td>
                                      <td>
                                        <span
                                          id="inline-table_inactiveInd_field_-1"
                                          style="display: none"
                                          class=" "
                                        >
                                          <select
                                            name="inline-table_inactiveInd_field_-1"
                                          >
                                            <option value="N">No</option>
                                            <option value="Y">Yes</option>
                                          </select>
                                        </span>
                                      </td>
                                      <td>
                                        <input
                                          type="hidden"
                                          name="effectivityId"
                                          value=""
                                        /><input
                                          type="hidden"
                                          name="esoStartNumber"
                                          value=""
                                        /><input
                                          type="hidden"
                                          name="esoEndNumber"
                                          value=""
                                        /><input
                                          type="hidden"
                                          name="nextEsoNumber"
                                          value=""
                                        /><input
                                          type="hidden"
                                          name="inactiveInd"
                                          value=""
                                        /><input
                                          name="inline-table_updateButton"
                                          id="inline-table_update_-1"
                                          type="button"
                                          value="Create"
                                          (click)="createRow()"
                                        />
                                        <input
                                          id="inline-table_save_-1"
                                          type="button"
                                          value="Save"
                                          style="display: none"
                                          onclick='saveRow("manageEffectivityForm","inline-table","-1","editId",null,new Array("effectivityId","esoStartNumber","esoEndNumber","nextEsoNumber","inactiveInd"));'
                                        /><input
                                          id="inline-table_cancel_-1"
                                          type="button"
                                          value="Cancel"
                                          style="display: none"
                                          onclick='cancel("manageEffectivityForm","editId","ManageEffectivities.html");'
                                        />
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </form>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </ng-container>
    </table>
  </td>
</div>
